[2015-06-27 17:09] #411 closed

[2015-07-01 10:15] ashishkadam commented on #423
Where would I find the concerned files to make these changes?

[2015-07-04 10:37] #419 closed

[2015-07-04 13:26] adrianq commented on #415
Moving this issue to done.  Finally we went for a different approach. Anyway something like this should be implemented in the future but we will open a new card for that task

[2015-07-04 13:26] #415 closed

[2015-07-07 15:22] tarelli opened #424 "Add getSupportedSimulators for a given aspect"

[2015-07-07 15:40] #418 closed

[2015-07-07 15:48] pgleeson commented on #418
Is replay of simulation results, with different colours per segment, enabled?

[2015-07-07 15:49] pgleeson commented on #418
Just saw https://github.com/openworm/org.geppetto.frontend/issues/311...

[2015-07-07 15:51] tarelli opened #425 "Refactor RecordingReader"
The quality of code of RecordingReader can be improved. Also we have some code that is repeated in multiple places to find/create a node in the runtime tree given an instance path. Such code should be factored out and we should always double check that it makes sense for it to be called in so many places.

[2015-07-07 16:24] #120 closed

[2015-07-07 16:47] tarelli commented on #345
@anishshah101 are you still planning to work on this? Any way I can help? Thanks!

[2015-07-07 16:49] tarelli opened #426 "Release 0.2.4"

[2015-07-08 15:07] #409 closed

[2015-07-08 15:07] #412 closed

[2015-07-10 09:45] pgleeson commented on #364
Any update on this? Will be required for making nice screengrabs for posters, papers, presentations etc...

[2015-07-10 09:54] gidili commented on #364
@pgleeson in the meanwhile you can change line 87 and 96 manually --> https://github.com/openworm/org.geppetto.frontend/blob/datamanager/src/main/webapp/js/GEPPETTO.Init.js#L87 :dancers:

[2015-07-10 10:02] tarelli commented on #364
I propose G.setBackgroundColour(colour) this would be an easy one to add.

[2015-07-10 15:58] #405 closed

[2015-07-10 17:56] gidili commented on #364
@tarelli @pgleeson I was touching stuff around there so I threw it in --> https://github.com/openworm/org.geppetto.frontend/commit/b2f3cbf3cf609fa1751b6f3671601fb5cf84f853

Moving this item in review till somebody else can test.

[2015-07-10 17:57] gidili commented on #364
Example:

<img width="1237" alt="screenshot 2015-07-10 18 49 01" src="https://cloud.githubusercontent.com/assets/68134/8625248/7c7a898c-2735-11e5-8752-602c9829e1a8.png">

[2015-07-12 00:12] #422 closed

[2015-07-13 14:27] #364 closed

[2015-07-14 15:13] pgleeson commented on #364
@gidili thanks for adding that!

[2015-07-15 00:55] #426 closed

[2015-07-15 14:16] pgleeson opened #428 "Problem loading live.geppetto.org on Firefox"
On Ubuntu:

![selection_233](https://cloud.githubusercontent.com/assets/1556687/8700559/5d9f70ea-2b04-11e5-9269-8310f1b11613.png)

[2015-07-15 14:29] tarelli commented on #428
@pgleeson whaaat, same here, looking into it. Just what we needed: browser dependent SSL issues :)

[2015-07-15 14:31] tarelli commented on #428
https://bugzilla.mozilla.org/show_bug.cgi?id=587407

[2015-07-15 14:42] tarelli commented on #428
Fixed disabling weak ciphers in the server.

[2015-07-15 14:42] #428 closed

[2015-07-16 14:08] pgleeson commented on #428
@tarelli, works for me now. Thanks for fixing this so quickly.

[2015-07-21 13:06] pgleeson opened #429 "Broken links..."
URLs like this don't work anymore...

https://live.geppetto.org/?sim=https://raw.githubusercontent.com/openworm/org.geppetto.samples/pg_samples/obj/TVB/GEPPETTO_cortex.xml

[2015-07-21 13:29] gidili commented on #429
The path changed, the root brings you to the dashboard, you have to add a geppetto to make it work:
[code]
But careful, it now needs to be a link to a Geppetto project (json).

[2015-07-27 12:20] tarelli commented on #130
Now focusing the effort on wrapping Sibernetic rather than on why the ported version behaves differently, see card https://github.com/openworm/org.geppetto.simulator.sph/issues/36.

[2015-07-29 10:22] tarelli opened #430 "Add experimental data support to Geppetto"
Currently Geppetto has the concept of an Experiment which is a computational one, based on a computational model and on a simulation. A lot of the infrastructure Geppetto has is agnostic to the fact that an experiment is computational and can be reused also to work with biological experiments.
This would allow to reuse the streaming and visualization facilities currently existing also for biologic

[2015-07-29 10:31] tarelli opened #431 "Add support for electrophysiology data"
See https://github.com/openworm/org.geppetto/issues/430 for adding support for experimental data.
This card in particular wants to track adding support for electrophysiology data.
Currently there are different existing formats to analyse and evaluate:

 * [Neurodata Without Border (NWB)](https://crcns.org/NWB). The Allen Brain Institute has an SDK to work with this [here](http://alleninstitute.git

[2015-07-29 10:52] tarelli commented on #431
@stripathy @nicain @rgerkin @mpsonntag @adrianq @apdavison Let's have the discussion here, please feel free to mention and bring in to the conversion anybody else who should be involved so that this can be a community effort as much as possible. I would also like to setup a meeting on Hangout next week to discuss, would that work for folks?

[2015-07-29 11:14] #429 closed

[2015-07-29 11:16] #404 closed

[2015-07-29 11:36] tarelli opened #432 "QUnit tests executed during the Travis build"
This would be extremely useful but also presents some challenges:
- [ ] The QUnit tests are in the frontend but they require every other bundle, these will have to install during the travis setup phase
- [ ] The QUnit tests require a Virgo server installed
- [ ] The QUnit tests are not headless, how does Travis play with this?

[2015-07-29 11:48] tarelli opened #433 "Clear up unneeded branches"

[2015-07-29 15:31] pgleeson commented on #429
So is there not any URL I can construct from an 'old' Geppetto simulation xml file?

https://live.geppetto.org/geppetto?load_project_from_url=https://raw.githubusercontent.com/openworm/org.geppetto.samples/pg_samples/obj/TVB/GEPPETTO_cortex.xml doesn't work...

Something i can put on the README here: https://github.com/openworm/org.geppetto.samples/tree/pg_samples/obj/TVB

[2015-07-29 15:37] tarelli commented on #429
It's enough to create a simple project.json that points to those models, I can send you a template @tarelli.

[2015-07-29 15:39] gidili commented on #429
@pgleeson @tarelli but that .xml file needs to change slightly based on the new schema too

[2015-07-29 17:11] #433 closed

[2015-07-29 17:19] tarelli commented on #273
Fixed this during the datamanager work

[2015-07-29 17:19] #273 closed

[2015-07-29 17:22] tarelli opened #434 "Update the webiste"
- [x] Screenshots and features need to be updated with all the recent stuff.
- [x] Add twitter feed.
- [x] Give more prominence to the waffle board, could we see it from the website?

[2015-07-29 17:38] stripathy commented on #431
I have a nice ipython notebook showing an example of getting data from the Allen Institute ephys dataset in NWB format here: https://github.com/stripathy/AIBS_cell_types/blob/master/Allen_ephys_playground.ipynb

Let's get Christian Kellner (@gicmo) who helped develop NIX in on this conversation too.

[2015-07-30 16:26] gidili commented on #237
Obsolete.

[2015-07-30 16:26] #237 closed

[2015-07-30 16:26] gidili commented on #139
Obsolete.

[2015-07-30 16:26] #139 closed

[2015-07-30 22:57] rgerkin commented on #431
That works for me.  I'd also like to mention that the OpenWorm ChannelWorm repo has digitized a lot of current traces from e.g. IV curve experiments, and it has a Django interface for pulling these data out into Python objects.  For example, look at cell 4 [here](https://github.com/openworm/ChannelWorm/blob/master/tests/SCU_IVCurve_Model.ipynb).  The `GraphData.objects.get` part is using the Djang

[2015-07-30 23:00] rgerkin commented on #431
But the Allen data might be a better place to start.  @stripathy and I can write a module to go from a brain area or cell type to the corresponding current trace for a specific sub-experiment (e.g. a specific train of voltage pulses), so there would be an easy entry point for getting traces corresponding to the cell of interest.  @tarelli I'm available over the next 4 days for a hangout, but will

[2015-07-31 09:30] gicmo commented on #431
Hi everyone and thanks a lot @stripathy for bringing me in. There is an exhaustive documentation for [C++](http://g-node.github.io/nix/) and [python 2+3](http://g-node.github.io/nixpy/). The latter includes a [tutorial](http://g-node.github.io/nixpy/tutorial.html) that also shows of our tagging features and metadata support. We have support for [Matlab](https://github.com/G-Node/nix-mx) and since

[2015-07-31 17:00] pgleeson commented on #431
This might be quite relevant for accessing large data sets in HDF5 in distributed locations: http://bolt-project.org/docs/index.html.

Count me in on a hangout...

CC @ccluri & [NSDF](https://github.com/nsdf/nsdf)

[2015-07-31 17:19] tarelli commented on #431
@pgleeson cool, note there's this card https://github.com/openworm/org.geppetto/issues/309 which is tracking NFDS, I didn't include it here since it's more about simulation results rather than experimental ones.

[2015-07-31 17:28] tarelli commented on #431
<a target="_blank" href="https://www.google.com/calendar/event?action=TEMPLATE&tmeid=YmRrZTdydXBhdmlwcmprMjZiZmhvN2g4azQgYnF2bHJtNjQybTNpcmplaGJldGhva2tjZGdAZw&tmsrc=bqvlrm642m3irjehbethokkcdg%40group.calendar.google.com"><img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_en-GB.gif"></a> This is the meeting event for Monday before Rich goes away, does it work for folks inte

[2015-07-31 21:29] ccluri commented on #431
Thanks for including. I will try to join this hangout as an audience.

[2015-08-03 14:46] #196 closed

[2015-08-03 15:10] tarelli commented on #431
@stripathy @nicain @rgerkin @mpsonntag @adrianq @apdavison @ccluri @jgrewe @stoewer a reminder the meeting will be on Hangout (link on the event) in 50 minutes for those interested to join!

[2015-08-03 16:09] ccluri commented on #431
Perhaps I am missing something, I do not see a link on the google calendar page for the hangout. Correct link please?

[2015-08-03 16:11] stripathy commented on #431
here is the link: https://plus.google.com/hangouts/_/calendar/YnF2bHJtNjQybTNpcmplaGJldGhva2tjZGdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ.bdke7rupaviprjk26bfho7h8k4?authuser=0

[2015-08-03 17:20] tarelli commented on #431
[Minutes](https://docs.google.com/document/d/1QHsFNmZU_4O7pOnXpTEAU9HjpXnhn5wE6Dx8grXhWpo/edit) from today's meeting, thanks everyone for joining!

[2015-08-04 13:32] pgleeson commented on #431
Paper relevant for all this: http://www.sciencedirect.com/science/article/pii/S0959438815000756

[2015-08-04 14:00] pgleeson commented on #431
Also, have you seen this: http://biojs.net/

[2015-08-04 16:44] tarelli commented on #431
@pgleeson thanks! Yes I've seen biojs before, it looks quite cool, I see many potential widgets there, do you know anybody involved?

[2015-08-07 16:39] adrianq commented on #407
A prototype can be found in this [PR](https://github.com/openworm/org.geppetto.frontend/pull/334)

[2015-08-11 08:34] pgleeson commented on #431
Sorry, don't know anyone at biojs...

[2015-08-12 14:00] adrianq commented on #407
Created another [PR](#36) with CORS implementation for embedded environments.

[2015-08-13 12:00] #407 closed

[2015-08-13 12:55] #241 closed

[2015-08-13 12:55] #242 closed

[2015-08-13 12:55] tarelli opened #435 "Release 0.2.5"

[2015-08-17 02:28] jrmartin opened #437 "Simple HTML page with links to all the different test pages"

[2015-08-17 05:05] felipetavares commented on #160
@tarelli by:

you mean send something like "G.setCameraRotation(...)" from TrackballControls or from the widget controls?

[2015-08-17 13:23] gidili commented on #160
@felipetavares after releasing the mouse (which is using the trackball controls) it should show the equivalent command in the console to achieve whatever rotation / panning was performed, but it should not execute it (since the trackball controls are taking care of that).

When clicking from the camera controls components (the control bar on the left) it is currently executing the command in the c

[2015-08-17 19:20] felipetavares commented on #160
I think I'm almost finished on this.
For the documentation, is something like this sufficient?

[code]

[2015-08-17 20:27] gidili commented on #160
@felipetavares yeah that looks good!

[2015-08-20 10:44] adrianq opened #438 "If Project.loadFromURL is called with a project already loaded it fails"
If Project.loadFromURL is called with no simulation loaded or from the url (attribute load_project_from_url) it works otherwise it fails and a message like this one is shown:

Error loading experiment

Details
Cannot load an experiment for a project that was not loaded

[2015-08-26 16:24] #435 closed

[2015-08-27 19:12] stripathy commented on #431
Here's the updated documentation for NWB:

·        [Documentation and code](https://neurodatawithoutborders.github.io/) have been added to publicly accessible repositories on Github

·        [Exemplar data sets in the NWB format](https://crcns.org/NWB/exemplar-data-sets) can be downloaded from CRCNS

·        Neurodata Without Borders web site, http://nwb.org, is now online

I also mentioned thi

[2015-09-07 10:39] tarelli commented on #431
Thanks @stripathy will review!

[2015-09-07 11:29] tarelli commented on #160
@felipetavares reopening this, waiting for the PR to review it and merge it!

[2015-09-15 13:32] jrmartin opened #439 "Store Linked Dropbox id in DB"
Once user gives Geppetto permission to upload to Dropbox, an id or token needs to be stored in DB to avoid asking user again to grant permissions

[2015-09-16 03:10] #437 closed

[2015-09-17 19:30] tarelli opened #440 "Design multiple-aspect integration protocol"
Minutes from meeting [here](https://docs.google.com/document/d/141U1LmSOXPby-fZKTJiK3V1VwPN5T-ig2LKRv-aqORI/edit)
- [ ] Look at the [MUSIC](http://www.springerlink.com/content/r6j425027lmv1251/) protocol and evaluate whether to reuse it or not. [Sources](http://software.incf.org/software/music/music/music_1.0.7.orig.tar.gz/at_download/file)

[code]
- [ ] Define set of messages that are used to com

[2015-09-17 19:33] tarelli opened #441 "Create multiple-aspect integration sample geppetto project"

[2015-09-17 19:33] tarelli opened #442 "Update multiple-aspect integration branch"
- [ ] Update integration branch with Dan’s prototype to work with current code
- [ ] Interface integration code with library for technology identified (e.g. 0MQ) or MUSIC depending on output of design card

[2015-09-17 19:54] tarelli opened #443 "Loading from URL partially adds the project even without persisting it when there's no DB"

[2015-09-18 00:28] tarelli opened #444 "Add SWC Model Interpreter"

[2015-09-21 09:34] pgleeson commented on #437
@jrmartin is there a link to this page on live.geppetto.org?

[2015-09-21 09:35] tarelli commented on #437
@pgleeson it's not released yet, PR still open for me to review!

[2015-09-21 14:37] pgleeson opened #445 "More info on experiments with errors"
What can be done to see logs/more info for experiments that show up as errored?

![selection_731](https://cloud.githubusercontent.com/assets/1556687/9994731/9699bd36-6076-11e5-8cb0-3c72bb0ebd63.jpg)

[2015-09-21 14:44] pgleeson opened #446 "Download links not working on live.geppetto.org with Firefox"
Links on bottom right in experiment tab for download model/results (e.g. here: https://live.geppetto.org/geppetto?load_project_from_id=1) don't work, just show/hide the experiment details.

Firefox on Ubuntu

[2015-09-21 14:49] tarelli commented on #445
Currently only on the server logs (/serviceability/logs/) but it could definitely improve!

[2015-09-21 15:04] pgleeson commented on #445
In this specific case it may have been due to nothing watched/recorded. Maybe catch this scenario and warn that there's no point in running a simulation in that case...

Is there an example script containing console commands for watching/recording variables, then replotting them once the simulation comes back? Have seen @adrianq cutting pasting commands to get geppetto to save/plot variables in "f

[2015-09-21 19:53] adrianq commented on #445
@pgleeson If you are not watching/recording anything, this shouldn't be problem. The conversion from NeuroML to Neuron done by the export library should work, right? And Neuron shouldn't have a problem about this either. The only one thing is that afterwards you can't plot or analyse any result as anything but the time step will be recorded in the server.

Regarding the magic scripts you saw me co

[2015-09-21 19:56] jrmartin commented on #437
Once it's out, it will be live.geppetto.org/GeppettoAllTests.html

[2015-09-22 11:52] adrianq opened #447 "New/Modify WebServices"
- [x] Modify Login.  Specify output as a parameter, by default it’s a webpage, but it can return a JSON or an error code, say OK
- [x] SetPassword. To be added

[2015-09-22 12:20] tarelli opened #448 "Review Sprint 57"
- [x] Opacity levels are lost when selection is made - need to decide the best behaviour.
- [x] Hide state is not conserved
- [x] Check zoom to with OBJs

[2015-09-22 12:26] Robbie1977 commented on #448
opacity levels are lost when selection is made - need to decide the best behaviour.

[2015-09-22 18:10] #447 closed

[2015-09-22 22:12] tarelli opened #449 "Add "cookies are used" message"

[2015-09-24 10:39] adrianq commented on #449
I am using [this library](https://silktide.com/tools/cookie-consent/) at OSB. It is straightforward to add it

[2015-09-24 12:12] tarelli commented on #449
Thanks @adrianq!

[2015-09-29 15:06] tarelli opened #450 "Release 0.2.6"

[2015-09-29 15:16] tarelli commented on #446
@adrianq could you check if this happens in OSB live just to know if it's deployment related

[2015-09-29 15:29] adrianq commented on #446
@tarelli This is the error in live.geppetto.org:
![screenshot from 2015-09-29 16 25 42](https://cloud.githubusercontent.com/assets/6850223/10168974/ebdedaa0-66c6-11e5-9043-8d58362c133d.png)

In OSB it is not working neither but it is a different error:
![screenshot from 2015-09-29 16 26 17](https://cloud.githubusercontent.com/assets/6850223/10168998/091d9214-66c7-11e5-882c-8891b6dc356d.png)

I hav

[2015-09-29 16:18] Robbie1977 opened #451 "Handling older/mobile platforms"
Enable Geppetto to be able to assess a system's capabilities and make decisions about what to display accordingly.

[2015-10-02 13:17] tarelli opened #452 "Use long click to zoom in towards an entity"
[This](http://api.jquerymobile.com/taphold/) library could be used  in combination with [tween](http://learningthreejs.com/blog/2011/08/17/tweenjs-for-smooth-animation/) to smoothly move the camera towards a given target. The longer you press the mouse button the closer you get (until it stops).
[c302](https://live.geppetto.org/geppetto?load_project_from_id=6) would be a good example to try this o

[2015-10-02 16:59] adrianq opened #453 "Persist feature fails randomly"
It doesn't depend on the model or the user. It may has to do with GeppettoDataManager. As users in Geppetto are at the beginning logged in as anonymous user and afterwards they can be logged in with their own user, it can't create some kind of problems. No really sure about this...

This is the trace error:
[code]

It will need some further investigation...

[2015-10-02 17:14] borismarin commented on #453
Did that come from our previous tests, @adrianq?

On 2 October 2015 at 17:59, Adrian Quintana <notifications@github.com>
wrote:

[2015-10-02 17:18] adrianq commented on #453
yes @borismarin. It started happening (failing) to me (my osb user) after our chat and then to the anonymous user. After a while, it started working again for the anonymous user. Trying to understand where it comes from....

[2015-10-03 02:14] #444 closed

[2015-10-05 10:29] #443 closed

[2015-10-05 16:39] Robbie1977 commented on #448
Assuming the ZoomTo() command should work in this way:
[code]

[2015-10-05 16:45] tarelli opened #454 "getSimulationTree failing in some configurations"

[2015-10-05 16:50] adrianq commented on #454
getSimulationTree was not working for:
- Single cell without network
- A network where the name of the main entity is not the name of the component in the population. It doesn't make sense to force the entity name to be the same one as the component.

[2015-10-05 16:51] #454 closed

[2015-10-05 16:52] tarelli commented on #454
@adrianq :+1:

[2015-10-06 12:30] #448 closed

[2015-10-06 13:14] #240 closed

[2015-10-06 13:42] tarelli commented on #401
This was taken care of during the datamanager refactoring.

[2015-10-06 13:42] #401 closed

[2015-10-06 13:43] tarelli commented on #124
Live is very stable now, no crashes in a long time.

[2015-10-06 13:43] #124 closed

[2015-10-06 15:54] #438 closed

[2015-10-09 13:26] tarelli commented on #159
This has also been done by @felipetavares as part of #160

[2015-10-09 14:11] tarelli commented on #439
The token is getting stored after using the link command. All persistence tests passing, including the upload ones:
![screen shot 2015-10-09 at 15 10 06](https://cloud.githubusercontent.com/assets/81127/10396005/f32ad92a-6e97-11e5-8e04-ee770dfe0eac.png)

[2015-10-09 14:11] #439 closed

[2015-10-09 14:35] tarelli commented on #446
All seems fine locally, with or without DB, still confused about this

[2015-10-09 17:49] #160 closed

[2015-10-09 17:49] #159 closed

[2015-10-11 23:47] #450 closed

[2015-10-12 11:37] pgleeson opened #456 "unSelectAll leaves selected cell transparent"
To reproduce:

Go here: http://www.opensourcebrain.org/projects/pyloricnetwork?explorer=https%3A%2F%2Fraw.githubusercontent.com%2FOpenSourceBrain%2FPyloricNetwork%2Fmaster%2FneuroConstruct%2FgeneratedNeuroML2%2FPyloricPacemakerNetwork.net.nml

Select one cell

Type: G.unSelectAll()

![selection_752](https://cloud.githubusercontent.com/assets/1556687/10427053/0391676e-70de-11e5-801d-edada635b319.jp

[2015-10-12 11:38] tarelli commented on #456
@pgleeson I fixed many selection related bugs this release, let's test this again as soon as that's integrated

[2015-10-12 11:45] pgleeson opened #457 "More informative status strings"
e.g. what is status DESIGN?

![selection_756](https://cloud.githubusercontent.com/assets/1556687/10427160/139d4c30-70df-11e5-997e-42256ae36ef7.jpg)

[2015-10-12 12:05] tarelli commented on #457
Does the documentation help? http://docs.geppetto.org/en/latest/usinggeppetto.html

[2015-10-12 12:23] pgleeson commented on #457
The string itself should say more than just DESIGN: e.g. "The experiment is persisted and in the design state. It is editable, it is possible to select which variables are going to be watched when the experiment will run and set model/simulation parameters associated with it."

The more info the better for the user...

[2015-10-12 13:59] tarelli commented on #457
I see, we could add another enumeration [here](https://github.com/openworm/org.geppetto.frontend/blob/71af4037cb8dcf15ddc135bb17062aa9164925dd/src/main/webapp/js/GEPPETTO.Resources.js#L81) ExperimentStatusDescription and show that in the [tooltips](https://github.com/openworm/org.geppetto.frontend/blob/8c330abad290b78289f6168ab885f4a89cc2e0ff/src/main/webapp/js/GEPPETTO.FE.js#L224)

[2015-10-12 17:13] pgleeson commented on #456
Have the development branches installed on my laptop now. This is fixed.

[2015-10-12 17:13] #456 closed

[2015-10-12 17:15] pgleeson commented on #456
Btw @tarelli is it intentional that when a cell is selected now that the connected cells don't go partially transparent..? A bit harder to see the original cell...

[2015-10-12 17:23] pgleeson opened #458 "Add info on meaning of colours (yellow/orange/white) for connected elements to Quick Help info"
Would be good to have an explanation of the meaning of the colours when elements are selected in the Quick Help link on the top right. It is in docs here: http://docs.geppetto.org/en/latest/connections.html, but the Help button might be first place people would look...

Image on link above should suffice:

![](http://docs.geppetto.org/en/latest/_images/connection_colors.png)

[2015-10-14 16:38] pgleeson opened #459 "Add (verbose) tool tip on star button for persisting experiment"
Also tool tips on Run, Play etc. would be useful explaining difference between them, when they can be used etc.

[2015-10-14 17:08] adrianq commented on #453
Another error related to this one:
[2015-10-14 17:04:56.819] INFO  http-bio-8080-exec-18        DataNucleus.JDO                                                   Exception thrown org.datanucleus.exceptions.NucleusUserException: Object with id "org.geppetto.persistence.db.model.User@5abb2427" is managed by a different persistence manager
        at org.datanucleus.ExecutionContextImpl.persistObject

[2015-10-15 10:04] pgleeson opened #460 "More info on success or failure of persisting project"
There is usually a short delay when the star is pressed before it changes to persisted. Ideally some feedback should be given when the proj is successfully persisted. I've just had the star change when I was logged out...

Any pressing of the star should lead to a clear message: definitely persisted or definitely not (and why)...

[2015-10-15 10:13] pgleeson opened #461 "Cells without morphology being displayed multiple times"
See http://www.opensourcebrain.org/projects/izhikevichmodel?explorer=https%3A%2F%2Fraw.githubusercontent.com%2FOpenSourceBrain%2FIzhikevichModel%2Fmaster%2FNeuroML2%2FFiveCells.net.nml

https://github.com/OpenSourceBrain/IzhikevichModel/blob/master/NeuroML2/FiveCells.net.nml.

Note these are Izhikevich cells, and like the I&F cells in the c302 model, have no explicit morphology (and so are represe

[2015-10-15 10:15] pgleeson commented on #397
Is this currently enabled? Doesn't work on OSB...

[2015-10-15 10:15] pgleeson commented on #397
Sorry, just saw that the issue is still open...

[2015-10-15 10:32] tarelli commented on #64
Obsolete

[2015-10-15 10:32] #64 closed

[2015-10-15 10:32] pgleeson commented on #461
This may be related to the above, again "ghost" cells. Seems like there are 2 instances of the cells, one selectable & the other mirrors at 2x the spatial dimensions:

http://opensourcebrain.org/projects/weileretal08-laminarcortex?explorer=https%253A%252F%252Fraw.githubusercontent.com%252FOpenSourceBrain%252FWeilerEtAl08-LaminarCortex%252Fmaster%252FNeuroML2%252FCortexDemo.net.nml#

![selection_78

[2015-10-15 10:37] adrianq opened #462 "When there is an exception server side, the socket between frontend and backend is closed"
For instance when we change the title of an experiment without persisting the project we get a warning message. This warning message (exception) close the project. This shouldn't happen.

[2015-10-15 21:57] tarelli commented on #461
Yup looks like the same problem, will investigate!

[2015-10-15 23:17] stripathy commented on #431
There'll be an info session on the NWB data format at the SFN conference in Chicago: http://alleninstitute.org/news-events/events-training/event/society-neuroscience-2015 (Sunday Oct 18). One of the topics to be discussed will be next steps for NWB, including getting the format adopted. If others in this thread are interested in attending, perhaps we can further discuss this there.

[2015-10-16 13:42] tarelli commented on #431
Thanks @stripathy I won't be at SfN but @pgleeson and @slarson might be able to attend!

[2015-10-27 16:31] tarelli commented on #397
An addition to this card from @robbie1997 is to also add the option to rename the axis label to support different orientations (cartesian, anatomical, etc.)

[2015-11-03 15:20] pgleeson opened #463 "Ensure correct location of connection lines on pre/post segment for 3D cells"
Many of the networks in NML2 have connections of the form:

[code]

i.e. the connection starts at point 0.1 along segment 1 on pre cell & connects to 0.2 on seg 6 on post cell.

This is not reflected in the displayed connections: all are from point 0 on segment 0... e.g. [ACNet2](http://opensourcebrain.org/projects/acnet2?explorer=https%3A%2F%2Fraw.githubusercontent.com%2FOpenSourceBrain%2FACnet2%

[2015-11-05 08:42] parthipanr commented on #9
Is there any method to decompress the gzip compressed data in client side??

[2015-11-05 19:06] tarelli commented on #9
@parthipanr we are using a library called [pako](http://nodeca.github.io/pako/0)

[2015-11-05 19:18] vellamike commented on #9
you have a typo  - [pako](http://nodeca.github.io/pako)

[2015-11-23 11:41] wanermiranda opened #465 "Error Loading - The C. Elegans Muscle Model"
There is an error while opening one of live models. Here is the stack trace:
Houston, we have a problem

Error populating the model tree for net1.electrical
Details

org.geppetto.core.common.GeppettoExecutionException: org.geppetto.core.common.GeppettoExecutionException: org.geppetto.core.model.ModelInterpreterException: org.geppetto.core.model.ModelInterpreterException: java.lang.NullPointerExcep

[2015-11-23 11:44] tarelli commented on #465
@wanermiranda thanks for reporting this, I'll have a look into it, might be that something in the model itself changed since when we release all samples are tested.

[2015-11-23 11:46] wanermiranda commented on #465
Thanks @tarelli... I'll be waiting =D

[2015-11-24 12:40] tarelli commented on #465
@wanermiranda found the cause:

https://github.com/openworm/muscle_model/commit/ea88ef090571f828f1ad9b9a212d07b3d0ee3281#diff-6b0640d9c3b5322c196b84e294d235df

The exception thrown by one of the NeuroML libraries is:

[code]
@pgleeson looking into it

[2015-11-25 18:10] tarelli commented on #465
@wanermiranda the model (the older working version) was restored on live.geppetto.org with the 0.2.7 release. Now we are pointing to a snapshot which should shield us from these problems.

[2016-01-11 09:50] tarelli commented on #458
@LordKrabo will you create a new PR for this including also the less?

[2016-01-11 10:01] tarelli commented on #431
Will be coordinating with @rgerkin adding support for this in the coming months. Rick do you have a tentative starting date yet?

[2016-01-11 10:05] #353 closed

[2016-01-11 10:19] tarelli commented on #332
Replaying all simulation steps took care of this

[2016-01-11 10:19] #332 closed

[2016-01-11 10:20] #35 closed

[2016-01-11 10:22] #113 closed

[2016-01-11 10:24] tarelli commented on #113
Solved with instance type

[2016-01-11 10:24] tarelli commented on #35
Solved with external simulators refactoring, now we are streaming recordings which are self consistent

[2016-01-11 19:08] rgerkin commented on #431
@tarelli I am in the process of hiring an ASU computer science graduate student for this.  Someone should hopefully be ready to contribute in the coming weeks.

[2016-01-14 22:04] rgerkin commented on #431
@matteo I'd like to welcome @niteshthali08 to the group.  He is an ASU master's student who will be working on this issue.  He'll officially start next week.  What is the preferred documentation entry point for developers?

[2016-01-14 22:04] rgerkin commented on #431
@tarelli I'd like to welcome @niteshthali08 to the group. He is an ASU master's student who will be working on this issue. He'll officially start next week. What is the preferred documentation entry point for developers?

[2016-01-15 12:04] tarelli commented on #431
@rgerkin great! Welcome onboard @niteshtali08! The docs for developers is here http://docs.geppetto.org/en/latest/devdocs.html The first thing is setting up the development environment, I recommend installing Eclipse Luna for this http://www.eclipse.org/downloads/packages/eclipse-ide-java-ee-developers/lunar (we have few blog posts with additional help for that http://blog.geppetto.org/). Nitesh w

[2016-01-15 12:16] tarelli commented on #431
@nicain this will be for NWB support to Geppetto, I don't know David's Github account if you can ping him as well :)

[2016-01-16 03:10] niteshthali08 commented on #431
Thanks @tarelli. I will join the upcoming meeting. My email id: nthali@asu.edu
Could you please add me to the Calendar invite ?

[2016-01-18 18:11] nicain commented on #431
David, what is your github user name?

Best,
-n

[2016-01-23 00:38] #250 closed

[2016-01-24 23:18] JustasB commented on #59
I second this idea. My current work cycle is to edit NML file locally, validate with jnml, make an SVG as a quick check, then check into OSB-linked github repo, then refresh gepetto. Going from editing nml to refresh gepetto would be a time saver.

[2016-01-24 23:26] JustasB opened #468 "Enhancement: show errors if there are issues with NeuroML"
There are cases where Geppetto just shows the loading spinner without giving an error or a message.

There is a particular example of this happening when the synapse used in the NeuroML-defined network was not valid. Eventually, after a few posts involving the team it was discovered that this was the case.

It would likely save time for the team in the future if an error message regarding the issu

[2016-01-25 13:02] tarelli commented on #468
@JustasB yo :) This is very possible in principle, we have all the communication channels already in place for the NeuroML interpreter to raise an exception which is then displayed in the UI. @adrianq any reason why this can't happen?

[2016-01-25 13:19] adrianq commented on #468
@tarelli @JustasB I talked about this to @pgleeson last week. We can (and should) raise an exception so that instead of the load spinner the user show an error message. However, if we do this at the moment the error won't be helpful as it would be a Geppetto specific error. What @JustasB is asking for is an error that let him know what is the problem with the NeuroML Model. For instance, in that i

[2016-01-25 13:24] tarelli commented on #468
@adrianq I don't see a conceptual problem putting inside the exception a detail of the error that is domain specific. This is an enhancement for the near future, nothing to worry about now, I just wanted to know if in principle you see any problems with it :)

[2016-01-25 16:02] JustasB commented on #468
Sounds good, guys. Thank you.

[2016-01-25 18:39] pgleeson commented on #59
An alternative is to install a copy of Geppetto locally and load/view local NML files...

[2016-01-25 19:08] JustasB opened #469 "Cannot load large 3D model"
I have a model with about 6000 cells, 635 of the cells have complex morphology, and another ~5000 are simple 3-segment cell models. This is a "reduced" model, the full model has 635 complex cells and ~120,000 simple cells.

When I try loading the reduced model, Geppetto shows the spinner and then errors out with ~"cannot communicate with server. refresh page." error.

Any tips on how to load large

[2016-01-25 21:26] tarelli commented on #469
@JustasB the next release of geppetto will be much better at handling big models. Said so describing large scale models with a specification of each cell and each connection where every instance definition is duplicated individually represented is doomed to break for any standard and any tool, including geppetto. There are different groups tackling these problems and this is for instance where con

[2016-01-25 21:51] JustasB commented on #469
I agree, having a class and then varying the instances by a param would be way more efficient. So is the number of types that is the biggest factor for this model?

It would probably be easiest to convert the 120k+ granule cells into one Type and then have each cell as an instance. The GCs vary only a few parameters between cells.

The mitral cells, 635 of them, on the other hand, each have their

[2016-01-27 10:57] pgleeson commented on #461
@tarelli @adrianq Any update on the status of this issue post refactor?

[2016-01-27 11:03] pgleeson commented on #463
@tarelli did you manage to find the old code that tried to address this issue?

[2016-01-27 11:54] adrianq commented on #461
@pgleeson Looking good now! ![screenshot from 2016-01-27 11 42 18](https://cloud.githubusercontent.com/assets/6850223/12612684/823c73e4-c4ec-11e5-9063-972d689def43.png)

I am still checking the second one as I am getting an exception in the infowriter of the export library...

[2016-01-27 12:21] adrianq commented on #461
The other model is working properly as well:
![screenshot from 2016-01-27 12 12 14](https://cloud.githubusercontent.com/assets/6850223/12613123/761a448a-c4ef-11e5-9aba-e31d197cab04.png)

The problem in the export lib is because when creating the summary (info writer) we are calling a [method to convert a standalone component into a lems component](https://github.com/NeuroML/org.neuroml.export/blob

[2016-01-27 12:21] #461 closed

[2016-01-27 18:21] tarelli commented on #469
Yes, in the new version of Geppetto types are getting created from the get go and instances only on demand, so to optimise a model we need to reuse types as much as possible. This obviously won't only help the tools coping with large models but also the maintainability of the model itself.

[2016-01-28 18:16] adrianq commented on #468
@JustasB I have implemented what we discussed in this issue. If there is an error parsing and resolving the model we will try to get an explanation from the neuromlvalidator. If  we manage to get a message, it will be displayed in the browser. Otherwise we will show the exception... for sure it is going to be better than the loading spinner. See what you will see in the example you mentioned in th

[2016-01-28 18:16] #468 closed

[2016-01-28 20:22] JustasB commented on #468
That's awesome. Thank you @adrianq

[2016-01-29 10:54] tarelli commented on #463
@pgleeson there were some bits in the model to have the pointer to the segment but this will have to be properly looked at as the information was not used. Also a drawback of pointing to the exact part of the cell is that the geometries of all the cells would have to be split for this to happen which will have performance implications (atm we split them only to display visual groups and when repla

[2016-01-29 14:59] pgleeson opened #470 "Installation issue with merged instance/type refactor"
@tarelli @adrianq I get the following error in Virgo after updating to the latest development branches & successful mvn installing & copying to server:

[code]

Anything to do with org.geppetto.testbackend being in geppetto.plan, but not pom.xml?

[2016-01-29 15:02] tarelli commented on #470
@pgleeson try pulling the latest from org.geppetto, the testbackend should not be deployed to virgo.

[2016-01-29 16:34] pgleeson commented on #470
That worked fine, and now Virgo starts up without errors. However I get the constant spinning logo when I try to load a cell or network. Found this in the logs:

[code]

Do I need to do anything like clean/refresh my local database of projects for the refactored code?

[2016-01-29 17:08] tarelli commented on #470
@pgleeson undeploy the persistence bundle (uncommenting it from the geppetto.plan) and try the samples. The DB will have to be recreated with the new schema (user permissions + some other changes).

[2016-01-29 17:10] tarelli commented on #470
@pgleeson btw this is to clean your local DB

[code]

[2016-01-31 20:00] mschuene opened #472 "Installation instructions for 0.2.6"
Hi,
I installed version 0.2.6 of geppetto after the instructions from
http://docs.geppetto.org/en/latest/osxlinuxsetup.html
but ran in some issues.

I am running Kubuntu 15.04

1.) I have java 8 installed locally, which was not recognized by virgo-3.6.3 as 1.6+, see https://bugs.eclipse.org/bugs/show_bug.cgi?id=440706 .
Installing virgo 3.6.4 solved this problem for me.
the link to the zip file in

[2016-01-31 22:13] LordKrabo commented on #472
@mschuene @tarelli I'm currently working on the documentation for installing 0.2.6 and 0.2.7 and updating it for Linux. I'm also running Linux Mint 17.3. Would you like me to include this in the documentation?

[2016-02-01 07:26] #270 closed

[2016-02-01 08:19] mschuene commented on #472
@LordKrabo Yeah, would be great!

[2016-02-03 17:11] pgleeson commented on #470
Installs fine now and included examples work when persistence bundle is not included. Eagerly awaiting testing it integrated with osb/redmine...

[2016-02-03 17:11] #470 closed

[2016-02-04 14:48] tarelli opened #473 "Review IT refactoring"
Matteo
- [x] fix asterisk in spotlight
- [x] spotlight setParameter
- [x] The spotlight notifies the user if they are dealing with a static parameter
- [x] Test set parameters
- [x] Profile backend
- [x] Improve c302 performances
- [x] test setGeometryType for NML
- [x] bounding box for particle based
- [x] plot bug fixed
- [x] Add did you know...

Adrian
- [x] Check setParameters as results from

[2016-02-13 13:42] tarelli commented on #453
@adrianq think I have sorted this, testing more

[2016-02-13 13:47] tarelli commented on #246
@adrianq are you happy to close this?

[2016-02-13 14:12] #465 closed

[2016-02-13 14:14] #425 closed

[2016-02-13 14:16] #162 closed

[2016-02-13 14:16] #89 closed

[2016-02-13 14:16] #76 closed

[2016-02-13 14:17] #87 closed

[2016-02-13 14:18] #309 closed

[2016-02-13 14:18] tarelli commented on #309
We are adding support for NWB

[2016-02-13 14:27] adrianq commented on #246
@tarelli yes, we can close it although this subtask: "Use "Node" instead of enumerating every node when a widget wants to define a MenuProvider for every node type." would be nice to have it. It would require some kind of js inheritance (maybe related to this old issue #119) but it would definitively have some benefits. Anyway we can think about this the next time we would like to destroy geppetto

[2016-02-13 14:27] #246 closed

[2016-02-16 19:57] #473 closed

[2016-02-16 19:57] tarelli opened #475 "Instance Type refactoring leftover improvements"
- [ ] cell added for network when converting to line viz from the API in some scenarios
- [x] Fix error while closing the project
- [ ] Change string into pointer for path parameters
- [ ] Refresh button for TV
- [ ] We are not throwing an exception when running a simulation and no feedback is provided to the user (See https://github.com/openworm/org.geppetto.simulation/blob/development/src/main/j

[2016-02-17 00:03] borismarin commented on #111
@tarelli @adrianq I guess this one is done?

[2016-02-18 15:13] #462 closed

[2016-02-18 22:27] slarson opened #479 "Installation troubles"
@lukeczapla reported this over on openworm/CElegansNeuroML#56 and I wanted to redirect here:

@lukeczapla, have you come across http://docs.geppetto.org ?  It sounds like perhaps you aren't finding good installation instructions yet?  Can you elaborate on what you are using to guide you here?

[2016-02-18 22:35] lukeczapla commented on #479
Hi Stephen, I followed these instructions and I'm on MacOS X:

http://docs.geppetto.org/en/latest/install.html

I had previously had issues with OS X having buggy OpenCL drivers when using OpenMM, but I don't believe that has anything to do with my problem.  Here's just a snapshot of the last page of output from running Geppetto on the terminal (the log.log file does NOT elaborate any further) wit

[2016-02-18 22:47] tarelli commented on #479
@slarson thanks for transferring the question. @lukeczapla hi Luke, sorry to hear you had some troubles. Java 6 is not a requirement and most of us are on Java 7 (and some are playing with Java 8 too which requires a newer version of Virgo), what pointed you to Java 6? Just in case we have some old docs  still around. Anyway, could you paste the whole log? Usually the exception you are pointing to

[2016-02-18 22:47] slarson commented on #479
OK -- one thing I am seeing on the docs is it is saying Java 7 is now
required, but you are using Java 6, right?  Can you try Java 7 and see if
that helps?
ᐧ

On Thu, Feb 18, 2016 at 2:35 PM, Luke Czapla <notifications@github.com>
wrote:

[2016-02-18 22:58] lukeczapla commented on #479
Hi Tarelli and Stephen, I wanted to use Java 8 and I use that for my own work and for teaching; however, it fails the JavaVersionChecker test when launched.  Here's the output when I point the JAVA_HOME to the /Home folder for JDK 1.8, this geppetto output is much shorter:

JavaVersionChecker: Java version must be at 1.6 (detected version 1.8.0_60).

Can I get the newer version of Virgo and otherw

[2016-02-18 23:04] tarelli commented on #479
This is the first exception which is responsible for the failure and indeed it is caused by Java 6.
`AG0000E Application context creation failure for bundle 'multi-artifact.plan-1-org.geppetto.model.swc' version '0.2.7'. org.springframework.beans.factory.CannotLoadBeanClassException: Error loading class [org.geppetto.model.swc.SWCModelInterpreterService] for bean with name 'SWCModelInterpreterServ

[2016-02-19 00:01] lukeczapla commented on #479
Thank you Dr. Cantarelli I am now using the master repo ( http://docs.geppetto.org/en/latest/osxlinuxsetup.html ) instead of the .zip/.tar.gz in the other instructions.

I ran into the following problems that are again attached, I am attempting what you described, using Virgo 3.6.4.  It seems like it can't find org.springframework.spring version 3.1.3; although I see a number of files, I don't see

[2016-02-19 10:57] adrianq commented on #446
In firefox with the persistence bundle, I am getting an error in [this line in the GEPPETTO.FE file](https://github.com/openworm/org.geppetto.frontend/blob/master/src/main/webapp/js/GEPPETTO.FE.js#L403)

cc @tarelli

[2016-02-19 13:50] tarelli commented on #479
@lukeczapla I think the problem is that the 3.1.3 libd is missing from the right place. I just merged a PR https://github.com/openworm/org.geppetto/commit/7b2d9acd5cecdffd78e5d6b441d667b87523a412 which should take care of that. To try it checkout the dev version of org.geppetto and after doing mvn install redo update_server.py which should now copy the library to where it should be. I haven't trie

[2016-02-19 13:59] tarelli commented on #472
@mschuene thanks, I just merged the PR!

[2016-02-19 14:03] #453 closed

[2016-02-19 14:54] #472 closed

[2016-02-19 16:01] lukeczapla commented on #479
thank you, I am now successful in connecting to and using the frontend!  I just copied the update_server.py and ran it and there are no problems at all during startup!  Thanks so much, problem solved and it's running with Virgo 3.6.4 and Java 1.8, and I have been able to open the project in eclipse to explore.

[2016-02-19 16:01] tarelli commented on #479
Great! Enjoy ;)

[2016-02-19 16:01] #479 closed

[2016-02-22 00:46] #434 closed

[2016-02-28 06:48] sujeet14108 opened #480 "Setup issues"
On Eclipse setting up project i foloowed this link http://docs.geppetto.org/en/latest/eclipsesetup.html
![screenshot from 2016-02-27 21 09 41](https://cloud.githubusercontent.com/assets/9781422/13377895/33c29602-de15-11e5-88e7-fb844b272ee8.png)
Error :**Missing artifact org.geppetto:model:jar:0.2.8**

[2016-02-28 09:54] gidili commented on #480
@sujeet14108 did you run mvn install for org.geppetto.model before mvn install of core?

[2016-02-28 11:18] sujeet14108 commented on #480
@gidili  Thanks that issue is resolved now but now error came in org.grppetto.solver.sph
![screenshot from 2016-02-28 16 43 42](https://cloud.githubusercontent.com/assets/9781422/13378874/b866a252-de3a-11e5-983e-ca374a7263db.png)
And also in org.geppetto.model.sph
![screenshot from 2016-02-28 16 46 51](https://cloud.githubusercontent.com/assets/9781422/13378881/f37cde74-de3a-11e5-9280-2d42adce4ab1

[2016-02-28 11:28] adrianq commented on #480
@sujeet14108 There is something strange in your trace... Geppetto is currently on version 0.2.8 but as you can see in your trace (and in the repos) sph modules are still in 0.2.7. Not sure if @tarelli hasn't released these modules this time. Anyway, if I were you I would remove the 3 sph modules from the pom and server and try again...

[2016-02-28 13:27] tarelli commented on #480
None of the SPH modules were released, we need help maintaining those (cc @skhayrulin). @sujeet14108 you can remove the SPH bundles.

[2016-02-28 18:22] sujeet14108 commented on #480
Thanks all. Now all errors are Resolved but still server giving this  error on starting.

Java HotSpot(TM) 64-Bit Server VM warning: ignoring option MaxPermSize=256m; support was removed in 8.0
[2016-02-28 22:15:04.025] startup-tracker              <KE0001I> Kernel starting.
[2016-02-28 22:15:05.454] startup-tracker              <KE0002I> Kernel started.
[2016-02-28 22:15:05.634] system-artifacts

[2016-02-29 04:23] petepy commented on #480
I faced some similar problems setting this up on ubuntu the last week. I was able to resolve the issue but I'm not positive of the discrete steps that it took. I'll redo my setup and take notes this time and post an update here

In the meantime could you tell me have you tested the compiled version of the release on your system and is your eclipse recognizing the geppetto.plan file?

[2016-02-29 08:45] sujeet14108 commented on #480
Hi @petepy  thanks for reply. Though above error comes but i am now able to run the project on localhost.
No my eclipse is not recognizing the geppetto.plan file.

[2016-02-29 08:54] sujeet14108 commented on #403
![screenshot from 2016-02-29 14 22 49](https://cloud.githubusercontent.com/assets/9781422/13389706/01d97134-def0-11e5-9c3a-9cb8d548b888.png)
Are you talking avbout the scroll bar on the rightmost side?

[2016-03-03 12:44] tarelli commented on #403
@sujeet14108 it was about the scrollbars in the Javascript console, not in the dashboard, however they must have updated firefox and it looks reasonable right now, see image below:
<img width="1349" alt="screen shot 2016-03-03 at 12 43 45" src="https://cloud.githubusercontent.com/assets/81127/13494680/aaa18a14-e13d-11e5-93e0-743df35019b7.png">

[2016-03-03 12:44] #403 closed

[2016-03-03 13:03] tarelli commented on #480
@sujeet14108 from the log it looks like you are missing spring 3.1.3 note that there was a PR merged to the development branch (https://github.com/openworm/org.geppetto/commit/8301be0511fb10995a2e95b297defea2d6af3ca3)  that makes it so that also the .libd libraries (spring in your case) are copied when using update_server.py. To double check it worked you can check if there is a .libd file for spr

[2016-03-03 14:21] petepy commented on #480
@tarelli sorry about that, good to know it though! I ended up toasting my OS the other day trying to get that straight. Setting up on the cloud now.

[2016-03-14 13:52] tarelli commented on #480
@sujeet14108 @petepy is this resolved? Can I close it?

[2016-03-14 14:11] tarelli opened #481 "Add backend support to dynamically create and resolve variables and types"
- [x] Add data source to ecore
- [x] Add interfaces to GeppettoManager for fetchVariable and importType
- [x] Add interfaces to WebSocket API for fetchVariable and importType

[2016-03-14 14:14] sujeet14108 commented on #480
@tarelli Yes you can close it. I have successfully setup the environment.

[2016-03-14 14:15] #480 closed

[2016-03-15 17:10] tarelli opened #482 "Find an automated way of switching different versions of the ecore schema in XMIs"
Options:
- [x] Do it through travis on commit
- [ ] Do it through a maven plugin on mvn install
- [ ] Dot it through git smudge (Rob wouldn't recommend it)

[2016-03-16 01:05] borismarin opened #483 "modelica support"
Investigate Modelica abstractions for crossdomain models

[2016-03-23 11:24] ondrejbalun opened #484 "Insufficient access rights to create new experiment."
Hello,

I always get "Insufficient access rights to create new experiment." error when creating a new Experiment. The geppetto runs on local machine with the sudo access rights.

Thanks for help!
ondrej

[2016-03-23 12:42] tarelli commented on #484
@ondrejbalun you need to have the persistence bundle deployed, a running MySQL DB and a user with sufficient rights to create a new experiment and do other operations that require writing access. Depending on what your use cases for Geppetto are I can help you figure out what's the easiest way to achieve that. Which types of models are you interested to work with? Where do they come from?

[2016-03-23 15:00] ondrejbalun commented on #484
Thank you for the swift answer. I would like to experiment on C. Elegans c302 model, present in the basic Greppetto installation.

[2016-03-23 15:20] adrianq commented on #484
@ondrejbalun If you are interested only in the model itself, one option could be to use the project on OSB: http://opensourcebrain.org/projects/celegans If you are logged in with your OSB user you can create experiments, run simulations and so on. In this repo you have many different models apart from the one you mentioned.
However if you are interested in playing with the Geppetto code, you will

[2016-03-24 21:42] jacobmcpherson opened #485 "Cancer Immunology Systems Biology"
So I'm brand new to this, and I can tell there is a ton of coders here, but I am a molecular cell biologist. I want you guys to make a dynamic 3D systems biology modeling simulator for the different immune cells and cancer cells, down to their molecular cross-talk conversations. Is this possible?

[2016-03-25 09:40] tarelli commented on #485
@jacobmcpherson thanks for your interest in Geppetto! Everything is possible ;) Many of the big features that we developed so far, comparable to what you are describing, e.g. support for a new class of models/simulator, usually happens because of either volunteer effort by one or more contributors or because of some collaboration with a research lab which has resources (money and/or people) to inv

[2016-03-31 17:32] pgleeson commented on #484
@ondrejbalun if you're interested in c302, I'd highly recommend getting the latest version of the code from https://github.com/openworm/CElegansNeuroML/tree/master/CElegans/pythonScripts/c302, installing the development version of jNeuroML and running c302 locally. The version on Geppetto is slightly older and not all of the simulation/replay of the different versions is yet well tested via Geppet

[2016-03-31 18:19] tarelli commented on #484
@pgleeson not sure that's the best way to drive Open Source Brain's adoption. Geppetto doesn't have "old" models, there's just a sample on live which is a snapshot. OSB should be the place where to find the latest version and use them through Geppetto, whatever version is there, I'd highly recommend all models on OSB get tested so that people can use them along with all the tools we have built.

[2016-04-04 16:58] ondrejbalun commented on #484
Thank you guys for helping! Actually, I tried the OSB and I could not simple work with it. It freezes a lot and I also could not find any more detailed documentation how to create experiment, run it, plot the data. There is only few lines on the Geppetto homepage.

[2016-04-04 19:56] pgleeson commented on #484
@tarelli I was really referring to the copy of c302 bundled as a standard example in Geppetto (as the question was originally referring to). It's reasonably up to date, but there are many other updated versions of the network in the CElegansNeuroML repo. While these are accessible through OSB, some of the features (e.g. analog synapses) are quite new (last week or two) and the libraries to support

[2016-04-08 10:18] #458 closed

[2016-04-08 12:51] tarelli commented on #482
@LordKrabo I just added the encrypted tokens to all the repos so that travis can push things to a repo.
I would suggest you create a branch "test_automatic_push" for one of the repos, say org.geppetto.core, and try there the script that checks if there are paths to be changed in the XMIs and if so it changes them and then pushes the changes to the same branch
have a look at [this article](http://k

[2016-04-15 15:04] MichaelCurrie opened #487 "Create skeleton output for validation"
Greetings from the movement analysis team.  We have prepared an example JSON-format file for what we're hoping your simulation output can look like:

[ow_simulation_example.wcon](https://drive.google.com/file/d/0B9dU7zPD0s_LTGZDTmhuZFZxX1k/view?usp=sharing)

For complete information on the format we've selected, please visit:
https://github.com/openworm/tracker-commons/blob/master/WCON_format.md

[2016-04-16 10:03] tarelli opened #488 "Generate a Python API from the Geppetto Model"
We could generate a Python API to be able to create a Geppetto Model in Python. This would be made easy using tools like [Acceleo](http://www.eclipse.org/acceleo/). Python has the advantage of being the most familiar language to scientists, the idea for this API is to be used through the frontend of Geppetto itself allowing therefore users to create their models from the browser.

[2016-04-16 10:03] tarelli opened #489 "Add a Python console to Geppetto"
A Python console would enable Geppetto to expose the [Python API] from the frontend. The Python console could be an alternative to the Javascript one. Some Python commands would be mapped to their JS counterpart, for say anything that has to interact with the UI.

[2016-04-16 10:18] #481 closed

[2016-04-16 10:24] tarelli commented on #446
I think this was fixed, not happening in live anyway

[2016-04-16 10:25] tarelli commented on #431
Some great progress from @niteshthali08

<img width="1543" alt="screen shot 2016-04-12 at 17 51 52" src="https://cloud.githubusercontent.com/assets/81127/14580472/da4ee612-03c5-11e6-91d7-5237b2a41657.png">

[2016-04-16 10:37] gidili commented on #446
I think I fixed this in a moment of madness

[2016-04-16 11:11] borismarin commented on #488
Tbd at the codegen hackaton
On 16 Apr 2016 11:03, "Matteo Cantarelli" <notifications@github.com> wrote:

[2016-04-16 11:17] borismarin commented on #489
What's the status of client (browser!) side python interpreters? People
have been trying that for a while, from direct cpython-> js compilation
(via emscripten, see Brython), to nicer pypy/llvm/asmjs (see pypyjs)?

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly or view it on GitHub
<https://github.com/openworm/org.geppetto/issues/489>

[2016-04-17 07:38] adrianq commented on #446
@tarelli @gidili I think this is still happening in osb... I haven't updated the OSB version though. Will update this week and let you know...

[2016-04-18 00:57] niteshthali08 commented on #431
Plot for data from another sweep.
<img width="1280" alt="screen shot 2016-04-17 at 5 56 25 pm" src="https://cloud.githubusercontent.com/assets/4617921/14591399/bdc54c88-04c5-11e6-90a6-43a39f2537fb.png">

[2016-04-18 14:51] petepy commented on #489
I like this idea! another option I like is a full bash shelI. if user's could launch their own workspace from the dashboard and have in browser IDE like features for custom projects, It would be awesome. Check out c9.io for an example. Obviously , code editing would not be the focus, but a useful feature.

[2016-04-18 14:54] borismarin commented on #489
we will be discussing ide-like online editor functionality (via eclipse
orion / ace / codemirror) in the codegen hackaton.

On Mon, Apr 18, 2016 at 3:51 PM, petepy <notifications@github.com> wrote:

[2016-04-21 12:31] tarelli commented on #482
@LordKrabo hey James, how's this going?

[2016-04-21 12:44] LordKrabo commented on #482
Hi @tarelli did some work on the script but I haven't tested it yet. I'll start testing the script and see how it goes.

[2016-04-25 11:41] pgleeson commented on #446
Still happening in live OSB. Close when fixed there..?

[2016-04-25 11:56] pgleeson opened #490 "Easy way to show current time"
For replaying simulations it would be nice to quickly get access to the current time. A command like

    G.showTime()

popping up a widget with the current time would be good, or even a new button doing this.

[2016-04-25 12:09] gidili commented on #446
If it's due to update of Geppetto on OSB we should close this and open a bug in the OSB repo?

[2016-04-25 13:24] pgleeson commented on #446
Fine with me...

[2016-04-25 13:46] pgleeson opened #491 "Problems creating 2nd experiment in project"
There are a few issues with creating a 2nd experiment when one has been successfully run

- [x] It would be good if the dt and duration from the existing experiment could be copied by default  instead of being set to zero (minor)
- [x] the field Simulator is blank, and typing it in (neuronSimulator) doesn't seem to save it. This is possibly the main reason I've not managed to run more than 1 exper

[2016-04-25 13:50] tarelli commented on #491
Good list! Some might be bugs, others useful enhancements.

[2016-04-25 17:38] pgleeson opened #492 "Allow data from two experiments to be viewed simultaneously"
Related to https://github.com/openworm/org.geppetto/issues/491, but more of a feature request.

It seems the 3D scene refreshes when a new experiment is selected (i.e all plots are lost). If a model is run with 2 configurations  in 2 experiments, it will eventually be a bottleneck if you can't view the simulated data from one beside the other in the same view, and ideally it would be nice to plot

[2016-04-26 16:27] tarelli opened #493 "Create a virtual machine image that can be used to create a Geppetto development environment"
- [x] Create an image (docker?) with the sources of Geppetto, the Virgo server and the Eclipse Luna (or Mars if you can get everything to work) environment (including the Virgo tooling plugin). The environment would work out of the box and Geppetto would start successfully without need to tweak or do anything.
- [ ] Add documentation to docs.geppetto.org for how to launch the image

[2016-04-26 16:28] tarelli opened #494 "Revisit Maven configuration on the umbrella bundle so that building the sources with the the various bundles becomes an easier endeavour"

[2016-04-26 16:31] borismarin commented on #494
https://git-scm.com/docs/git-submodule

[2016-04-26 16:32] LordKrabo commented on #494
Could Otto be a good alternative? https://www.ottoproject.io/intro/vagrant-successor.html

[2016-04-26 16:40] borismarin commented on #494
@LordKrabo that would apply to #493, wouldn't it?

[2016-04-26 22:38] LordKrabo commented on #494
Sorry, my bad.

[2016-04-26 22:39] LordKrabo commented on #493
Would Digital Ocean be an option for hosting?

[2016-04-27 12:10] #485 closed

[2016-04-27 12:12] #130 closed

[2016-04-27 15:57] adrianq commented on #446
Still failing in live.geppetto and OSB for firefox..

[2016-04-27 16:32] tarelli commented on #446
![screen shot 2016-04-27 at 17 32 30](https://cloud.githubusercontent.com/assets/81127/14859888/0bc3b9b2-0c9e-11e6-905d-d2246c041ba9.png)
http://stackoverflow.com/questions/9813445/why-ff-says-that-window-event-is-undefined-call-function-with-added-event-list

[2016-05-01 09:31] gidili commented on #446
Tried to fix this with @adrianq by using the event argument in the handler instead of window.event (should've been like that from the start), this takes care of the console error as expected but funny enough this uncovers yet another Firefox issue to do with downloading files via blob - all the examples I found using [the method we are using](https://github.com/openworm/org.geppetto.frontend/blob/

[2016-05-01 09:35] tarelli commented on #446
@gidili @adrianq http://stackoverflow.com/questions/30694453/blob-createobjecturl-download-not-working-in-firefox-but-works-when-debugging have you guys seen this?

[2016-05-01 10:09] gidili commented on #446
@tarelli yes - we are not removing the resource though. Regardless having a delay might be worth a shot.

[2016-05-02 09:58] tarelli opened #495 "Generate a downloadable figure from the content of any widget and/or 3D canvas"
It would be useful for scientists to be able to selectively turn the content of the screen in one or multiple figure, scenarios:
- [ ] One figure for a specific widget
- [ ] One figure for every widget
- [ ] One figure just for the 3D canvas
- [ ] One figure for the canvas plus every widget
- [ ] Allow the user to give a name and a caption to each of the figures

[2016-05-02 10:01] tarelli commented on #495
http://phantomjs.org/screen-capture.html This could be maybe used

[2016-05-02 11:02] gidili commented on #446
@adrianq @tarelli can you guys test on dev branch?

Working for me with these changes:
- https://github.com/openworm/org.geppetto.frontend/commit/98fc7233ba79888663da3fdb1f474db2abe0c13c
- https://github.com/openworm/org.geppetto.frontend/commit/6f3c27e7a50ca202088f3b405392eec5c7b7d8a1

Might this be the end of the 'download not working' saga?

[2016-05-03 11:56] adrianq commented on #446
It is working for me now. A little bit scared of this delay thing though. Not sure if it will work for any user.  [This lib](https://github.com/eligrey/FileSaver.js) can be another approach. Anyway, I think we can close it for now. Thanks @gidili !

[2016-05-03 13:42] gidili commented on #446
@adrianq I think it's not too bad - the delay is only freeing up the handle to the file I think, in Firefox if happens too soon and something inside the 'click' handler goes haywire.

[2016-05-10 15:25] tarelli opened #496 "Adding simulator to use the San Diego Neuroscience Gateway"

[2016-05-10 18:41] #134 closed

[2016-05-10 18:42] #69 closed

[2016-05-11 16:53] tarelli commented on #493
@petepy @slarson this is the card

[2016-05-24 16:38] tarelli opened #497 "Improve setup.py script"
Add a command line interface to the script to guide the user to specify which bundles they want to install which will also update config.json and geppetto.plan.
- [x] Core bundles (always installed)
  "org.geppetto.model"
  "org.geppetto.core"
  "org.geppetto.simulation",
  "org.geppetto.frontend"
- [x] Optional bundles, all the other ones, we ask a question for each one of them.
- [x] We update [

[2016-05-24 17:08] tarelli opened #498 "Release 0.3.0"

[2016-05-24 18:58] tarelli commented on #496
@adrianq can you update this before leaving? Thx <3 :)

[2016-05-24 21:25] adrianq commented on #496
@tarelli  Closing the issue. Obviously, we will have to polish a few things but we can tackle them with individual cards.

[2016-05-24 21:25] #496 closed

[2016-05-26 14:11] tarelli commented on #489
One option is to integrate Jupyter notebook in Geppetto, @borismarin  is starting to experiment with this

[2016-05-26 14:13] borismarin commented on #489
see https://github.com/borismarin/org.geppetto.python/tree/frontend-experiments

[2016-05-26 17:56] tarelli opened #499 "Add a servlet to generate a Geppetto project to load supported formats"
Similarly to load_project _from_url the servlet load_file could generate a Geppetto project and a geppetto model to load a supported model inside geppetto.
This could be used to load an NWB file, an OBJ, a Collada, a NeuroML, etc. The user wouldn't have to worry about creating a project or anything, they'd just point the servlet to their external file. This would enable to use Geppetto as a simple

[2016-05-26 18:45] tarelli opened #500 "Add ability to lazy load a value (Frontend)"
With @niteshthali08 we are looking at extending the support for NWB files. Given the size of the time series that are connected to an NWB file a functionality that would allow to lazy load them is desirable. This would work in the same way as resolveImportTypes with a symmetrical method resolveImportValue.
[Design proposal for this](https://www.lucidchart.com/documents/edit/19d75b64-d479-48bc-8b0b

[2016-05-26 19:11] tarelli commented on #500
Pointers

Backend:

To change the ecore:
https://github.com/openworm/org.geppetto.model/blob/master/src/main/resources/geppettoModel.ecore
Ask @tarelli to regenerate the model and other help

https://github.com/openworm/org.geppetto.frontend/blob/da2f2ac62f124325010a1e95700575f056ef3cb5/src/main/java/org/geppetto/frontend/controllers/ConnectionHandler.java
https://github.com/openworm/org.geppetto.

[2016-05-26 19:16] tarelli commented on #500
@niteshthali08 to create an ImportValue in the ecore, make ImportValue extend Value (check how ImportType extends Type)
![screen shot 2016-05-26 at 20 15 01](https://cloud.githubusercontent.com/assets/81127/15586891/a07f4f2a-237e-11e6-8766-7ecb126d0283.png)

[2016-05-26 19:18] tarelli commented on #500
@niteshthali08 https://github.com/tarelli/org.geppetto.docs/blob/master/source/geppettomodel.rst Model documentation

[2016-05-28 10:15] tarelli commented on #494
I played a bit with this today. If we configure maven to leverage more the parent bundle (putting there common configurations and having the submodules pointing to it) I got to a stage where building of individual submodules doesn't work anymore if they depend on siblings modules which would oblige us to always do mvn install for the parent module (which works). Having to always have to reinstall

[2016-05-30 10:47] tarelli commented on #494
I committed the work I've done on the "maven" branch of the core bundles.

[2016-06-02 09:50] pgleeson opened #501 "Ability to move/resize the help dialog"
The Help dialog (top right button) can't be moved/resized. Would be useful to allow this, especially if the help dialog is to be left open while you interact with the scene/other widgets.

Should perhaps be updated to use window as used by other, more recent widgets?

[2016-06-03 20:49] rgerkin opened #502 "Preview graphics"
@tarelli @niteshthali08 When selecting either an NWB experiment, or a sweep from that experiment, it would be helpful to have preview graphics (e.g. thumbnails) to help guide the user to select the one that they want.  At least for the NWB files from the Allen Institute, there are some very small preview graphics generated from their NWB files that we could probable use.  For example, [this](http:

[2016-06-03 20:57] rgerkin opened #503 "NWB Sweep Preview interface"
What will the interface for choosing specific sweeps from an NWB file look like?  [Here](http://celltypes.brain-map.org/mouse/experiment/electrophysiology/487601493?mode-toggle.x=20&mode-toggle.y=37&mode-toggle=morphology) is what it looks like on the Allen site.  The different stimulus types are presented in a drop-down menu, and then once a stimulus type is selected, it shows all of the stimuli

[2016-06-07 12:25] LordKrabo commented on #503
@rgerkin Can I add this to sprint 74?

[2016-06-07 12:26] LordKrabo commented on #502
Adding this one to sprint 74 @tarelli @rgerkin

[2016-06-07 12:33] LordKrabo commented on #495
@tarelli Add to sprint 74 or 75?

[2016-06-07 12:44] LordKrabo commented on #482
@tarelli Managed to finally get this working.

[2016-06-07 12:45] LordKrabo commented on #475
Add this to the new sprint @tarelli?

[2016-06-07 13:04] LordKrabo commented on #500
@niteshthali08 @tarelli Add to sprint 74 or 75?

[2016-06-07 13:08] LordKrabo commented on #499
Added to sprint 75

[2016-06-07 13:13] LordKrabo commented on #497
Haven't done anything on this yet, will work on this for sprint 75.

[2016-06-07 14:18] LordKrabo commented on #431
@niteshthali08 @tarelli Added to sprint 75.

[2016-06-07 14:22] LordKrabo commented on #440
Added to sprint 75 @tarelli

[2016-06-07 14:25] LordKrabo commented on #441
Added to sprint 75 @tarelli

[2016-06-07 14:33] LordKrabo commented on #493
Adding to sprint 75

[2016-06-07 14:34] LordKrabo commented on #151
Added to Sprint 75.

[2016-06-07 14:40] LordKrabo commented on #173
@borismarin @tarelli Add to sprint 75?

[2016-06-07 14:42] LordKrabo commented on #101
@tarelli @mlolson  Should I close this issue?

[2016-06-07 14:43] LordKrabo commented on #363
@tarelli Add this one to sprint 75?

[2016-06-07 14:44] LordKrabo commented on #449
@tarelli Added to sprint 75.

[2016-06-07 15:08] LordKrabo commented on #482
If you would like me to set this up on other repositories to test, I can create a pull request.

[2016-06-07 15:27] LordKrabo commented on #500
Now added to Sprint 76.

[2016-06-07 15:49] LordKrabo opened #504 "Add ability to lazy load a value backend"
@niteshthali08 I am adding these to Sprint 75.

- [x] Create branch 'importValue' for every bundle that needs one
- [x] Add ImportValue to Geppetto ecore (in org.geppetto.model) 
- [x] Add backend functionality to resolve a ImportValue

[2016-06-07 15:52] LordKrabo commented on #500
Took some of this and added it to #504 Add ability to lazy load a value backend.

[2016-06-07 16:08] LordKrabo commented on #503
Okay have just spoken to @tarelli will move this to Sprint 77.

[2016-06-07 16:29] LordKrabo commented on #502
Sorry @tarelli moving 77.

[2016-06-07 16:36] LordKrabo opened #505 "Create a Stack Overflow/Google Groups FAQ/Troubleshooting section"
If anyone runs into any issues with installation of the dev environment, we can all reply and see if Stack Overflow kill it or not.

[2016-06-07 16:57] tarelli commented on #440
We looked at this and put together a proposal for GSoC 2016 with Mikael Djurfeldt (the MUSIC author) to have some help but nobody has applied, moving to the backlog for now. I think @dkruchinin bandwidth has also trickled down a bit?:)

[2016-06-08 12:56] tarelli commented on #498
![screen shot 2016-06-08 at 13 55 23](https://cloud.githubusercontent.com/assets/81127/15895001/cf2fa886-2d80-11e6-910e-ba8822028828.png)

[2016-06-08 13:22] tarelli commented on #498
![screen shot 2016-06-08 at 14 22 01](https://cloud.githubusercontent.com/assets/81127/15895658/6b893dac-2d84-11e6-89ba-8971dd02146e.png)
![screen shot 2016-06-08 at 14 21 31](https://cloud.githubusercontent.com/assets/81127/15895659/6ba01522-2d84-11e6-9e28-e274493df7cb.png)

[2016-06-09 19:00] tarelli commented on #446
Tested on firefox with geppetto 0.3.0 on live.geppetto.org. Working!

[2016-06-09 19:00] #446 closed

[2016-06-09 19:01] tarelli commented on #431
First NWB sample added to geppetto 0.3.0 [link](https://live.geppetto.org/geppetto?load_project_from_id=18). Closing this card capturing additional improvements in separate cards.

[2016-06-09 19:02] #431 closed

[2016-06-09 19:02] tarelli commented on #430
First NWB sample added to geppetto 0.3.0 [link](https://live.geppetto.org/geppetto?load_project_from_id=18). Closing this card capturing additional improvements in separate cards.

[2016-06-09 19:02] #430 closed

[2016-06-11 12:52] #498 closed

[2016-06-12 23:03] niteshthali08 commented on #504
@tarelli : Could you please list set of actions which will invoke importType functionality ?

[2016-06-13 12:51] tarelli commented on #504
@niteshthali08 at the moment it's just from the Javascript API, when you have an ImportType you can call resolve on it, see [this](https://github.com/openworm/org.geppetto.frontend/blob/b7945384e419b581872d40db9279be27323f2cbc/src/main/webapp/js/model/ImportType.js#L100)

[2016-06-14 23:20] niteshthali08 commented on #504
@tarelli : What would be the value of "String path" received by function "resolveImportValue(String path)" would look like ?

[2016-06-15 14:47] tarelli commented on #504
@niteshthali08 the path of the variable or type that the value is attached to (e.g. nwbSample.response currently or a more complex one given the new design nwbSample.sweep100.stimulus.response.recording)

[2016-06-16 02:04] niteshthali08 commented on #504
Thanks @tarelli, I need your help in understanding few things. Can we have a small meeting on Thursday or Friday ?

[2016-06-16 04:23] tarelli commented on #504
Hey Nitesh, I'm out of commission for the rest of the week but @gidili can
answer those questions as I've caught him up with what you are doing.

On Thu, Jun 16, 2016, 3:04 AM Nitesh Thali <notifications@github.com> wrote:

[2016-06-16 07:29] niteshthali08 commented on #504
@gidili: are you available for some time during this week for a small meeting ?

[2016-06-16 10:27] gidili commented on #504
@niteshthali08 yes! I'll send you an email to schedule

[2016-06-17 21:12] slarson commented on #491
Having trouble reproducing the `setLength('2<br/>')` -- tested on OSB with Chrome and Firefox.  @pgleeson can you say more about where this is happening (Platform, Browser type, Browser version, which model you see this happening on?)

[2016-06-17 21:17] slarson commented on #491
Same question for

Can't reproduce ATM.

[2016-06-17 21:24] jrmartin opened #508 "Issue loading hodgkin tutorial example"
When loading Hodgkin Tutorial in OSB, project loads but info message saying it didn't shows up.

![screenshot 11](https://cloud.githubusercontent.com/assets/4562825/16164009/322909e8-3491-11e6-8c61-ce081c615e7d.png)

[2016-06-17 21:26] jrmartin opened #509 "Error in OSB points to bug while closing a project."
`[2016-06-17 17:35:40.727] ERROR http-bio-8080-exec-270       org.geppetto.frontend.controllers.ConnectionHandler               Error while closing the project org.geppetto.core.common.GeppettoExecutionException: A project without a runtime project cannot be closed
    at org.geppetto.simulation.manager.GeppettoManager.closeProject(GeppettoManager.java:156)
    at org.geppetto.frontend.controllers

[2016-06-20 11:19] tarelli commented on #491
@slarson reproduced on both Chrome and Firefox on OSX (but saw it happening also on Windows at the lab). With a persisted project on OSB, clicked new experiment, typed neuron (or whatever) in the simulator box, pressed enter, the following appears
![screen shot 2016-06-20 at 12 15 44](https://cloud.githubusercontent.com/assets/81127/16192367/c2a0d52c-36e0-11e6-8569-ec86824c78af.png)
in the console

[2016-06-20 12:26] tarelli commented on #475
We have created cards for the various improvements we want to do, closing this umbrella one.

[2016-06-20 12:26] #475 closed

[2016-06-21 13:21] AdamRTomkins opened #510 "Displaying multiple SWC files in geppetto"
I am trying to visualize two swc files simultaneously using geppetto. I am attempting to modify the Ganglion Cell from EyeWire example.

I am not sure on the format to include multiple swc files (15 and 56 in the zip file).

[test.zip](https://github.com/openworm/org.geppetto/files/325642/test.zip)

[2016-06-21 14:14] tarelli commented on #510
Hi @AdamRTomkins, can you try with the code below? You need to create two variables if you want to instantiate both SWCs. In the lines below you are adding types (as if you were defining your own classes), one for each SWC, in the variables entry you are saying "I want to instantiate them".

[code]

[2016-06-21 14:44] LordKrabo commented on #504
Add this to sprint 76 @niteshthali08 @tarelli @gidili ?

[2016-06-21 14:55] LordKrabo commented on #499
Now added to sprint 77 @tarelli @niteshthali08

[2016-06-21 15:01] AdamRTomkins commented on #510
Thank you @tarelli
For posterity, there was one further error in the code, with a duplication of  the </libraries> tag, and the first must be removed.

[2016-06-21 15:01] #510 closed

[2016-06-21 15:05] LordKrabo commented on #493
Adding to sprint 76.

[2016-06-21 15:52] tarelli commented on #493
@LordKrabo we need somebody to commit to do it within a given sprint to set the milestone

[2016-06-21 16:11] LordKrabo commented on #505
Stack Overflow may be difficult to use: http://meta.stackexchange.com/questions/3966/is-it-okay-to-use-stack-overflow-as-the-support-forum-for-a-product-or-project

http://meta.stackexchange.com/questions/19852/use-stack-overflow-as-the-official-support-site-of-an-open-source-project

http://meta.stackexchange.com/questions/80434/start-a-new-stack-overflow-tag-for-my-project

[2016-06-21 16:11] LordKrabo commented on #505
Ostio might be a good alternative: https://changelog.com/ostio-add-a-forum-to-your-github-project/

[2016-06-21 16:18] slarson commented on #509
Seems like we could expand [this test case](https://github.com/openworm/org.geppetto.simulation/blob/master/src/test/java/org/geppetto/simulation/test/GeppettoManagerTest.java#L728) to try to simulate this bug.  I think @jrmartin had a theory about the case in which this problem could happen that he could try to implement here.

[2016-06-21 16:23] #323 closed

[2016-06-21 16:50] LordKrabo opened #512 "Look into using Apache Spark for Geppetto"

[2016-06-21 17:09] niteshthali08 commented on #504
@tarelli: I have committed the code. So I wanted to write a jUnit test case to call the functions on backend so that I can test them as they are executed. I just copy pasted code from one of the existing test case DataSourcesGeppettoManagerTest.java into ImportValueTest. I have created test2 folder inside resources with NWB stuff.  Could you please help me in getting this work ? I want this test c

[2016-06-21 18:32] tarelli commented on #504
@niteshthali08 I haven't found your test anywhere but I committed some code to show you some more pointers

[2016-06-22 03:34] niteshthali08 commented on #504
@tarelli : Sorry for that there was a merge conflict while pushing which got neglected by me.

[2016-06-22 11:26] borismarin commented on #489
more generic: #442 (design python API)

[2016-06-24 11:29] borismarin commented on #512
I higher level card would be "data analysis from within geppetto"
for the specific case of Spark for timeseries / image analysis, see http://thunder-project.org/

[2016-06-26 09:08] niteshthali08 commented on #504
@tarelli : I have modified nwbModelInterpreter to return display text according to the [proposed design for lazy loading](https://www.lucidchart.com/documents/edit/19d75b64-d479-48bc-8b0b-a6303e5ea49e#). It would be great if we can have one small meeting at the earliest in coming week to get some pointers on implementing frontend.

[2016-06-26 09:49] niteshthali08 commented on #504
I tried to write a test case to test out the resolveImportValue functionality. I created "ImportValueTest.java" but it is throwing an exception at the line given below. "appContext" is returned as null.
`public static Object getNewServiceInstance(String discoveryId) throws GeppettoInitializationException
	{
	ApplicationContext appContext = ApplicationListenerBean.getApplicationContext(discoveryId)

[2016-07-08 13:26] jrmartin commented on #509
Another error encountered while creating and deleting new experiments. (Also cloning)

[2016-07-08 08:14:21.300] WARN  http-bio-8080-exec-3         org.geppetto.persistence.db.DBManager                             Could not delete data javax.jdo.JDODataStoreException: Exception thrown flushing changes to datastore
	at org.datanucleus.api.jdo.NucleusJDOHelper.getJDOExceptionForNucleusException(Nucl

[2016-07-08 14:40] jrmartin commented on #509
`[2016-07-08 09:40:00.676] ERROR http-bio-8080-exec-2         org.geppetto.frontend.controllers.ConnectionsManager              Unable to communicate with client Socket closed. Removing connection.
[2016-07-08 09:40:00.678] ERROR http-bio-8080-exec-2         org.apache.coyote.http11.Http11Protocol                           Error reading request, ignored java.lang.NullPointerException: null
	at jav

[2016-07-19 13:50] slarson commented on #509
Should be closed in https://github.com/openworm/org.geppetto.persistence/tree/experiments_table_refactoring -- new tests in https://github.com/openworm/org.geppetto.persistence/blob/experiments_table_refactoring/src/test/java/org/geppetto/persistence/db/DBManagerTest.java appear to cover this.

[2016-07-26 17:51] tarelli opened #514 "Define roadmap to standardise the technologies used to build widgets and components"
- [x] Review component branch from Adrian
- [x] Refactor the rest of the components to use the new ComponentFactory

[2016-07-29 17:46] pgleeson opened #515 "Active icon for new experiments not being updated"
Have tried the cloning/new experiment functionality on latest development branches and works a lot better, but it seems the icon indicating which experiment is active is not being updated:

![selection_854](https://cloud.githubusercontent.com/assets/1556687/17257931/649f069c-55bc-11e6-84e5-1493de6ad95f.jpg)

In this project Experiment 3 was actually active (it ran when Run was pressed) but the tic

[2016-07-29 18:10] tarelli commented on #515
@pgleeson there is no icon to indicate which experiment is active, the active experiment has just a darker background (see New Experiment 3 above). The icon on Thalamocortical - net (the tick) is to activate that experiment instead (which should answer your other question). Makes sense?

[2016-07-29 18:17] pgleeson commented on #515
Ok, understood. What got me was the tooltip on the tick: "Active Icon"; I assumed this meant "This experiment is active".

Maybe change text to: "Activate this experiment"

[2016-07-29 18:54] tarelli commented on #515
Yup, makes sense!

[2016-07-29 18:59] tarelli commented on #515
Done https://github.com/openworm/org.geppetto.frontend/commit/6cfff7c05526fc69935ba5df805502577ef59ea8

[2016-07-29 18:59] #515 closed

[2016-08-17 11:22] #493 closed

[2016-08-23 08:33] niteshthali08 commented on #500
@tarelli @gidili : I was just going through object returned by mergeModel method and found that diffReport captures the type for which synched was set as false. Now this type contains the variable in which I am interested. This variable also has correct initialValue which is timeseries sent by the server. I can find this details in the diffReport object at "types->compositeType ->wrappedObj->varia

[2016-08-24 09:20] pgleeson commented on #501
The background scene can't even be moved when the Help dialog is displayed...

![selection_002](https://cloud.githubusercontent.com/assets/1556687/17925276/42de6f7a-69e4-11e6-8572-edfc385e79d7.jpg)

[2016-08-24 09:24] pgleeson opened #518 "When selecting an element in a network all other colourings should be overwritten"
This is a mixture of colouring on cells from visual groups being selected followed by highlighting connectivity:

![selection_003](https://cloud.githubusercontent.com/assets/1556687/17925383/a49d2332-69e4-11e6-9f98-61983158139a.jpg)

Selecting one cell should override any colouring from previous highlighting.

[2016-08-24 10:11] pgleeson opened #519 "Double display of cells when changing geometry type"
Before (on http://comodl.org/projects/thalamocortical?explorer=https%3A%2F%2Fraw.githubusercontent.com%2FOpenSourceBrain%2FThalamocortical%2Fmaster%2FneuroConstruct%2FgeneratedNeuroML2%2FLayer23_NoConns.net.nml):

![selection_008](https://cloud.githubusercontent.com/assets/1556687/17926907/3e72c31c-69eb-11e6-9457-972677c3c6c8.jpg)

After running: Layer23_NoConns.setGeometryType('cylinders')

![sel

[2016-08-24 11:08] pgleeson opened #520 "Status circle not getting updated on submission or successful run of experiment"
No change in orange circle during exp run.

![selection_009](https://cloud.githubusercontent.com/assets/1556687/17928597/636d1aac-69f3-11e6-8e81-49215d86f4bc.jpg)

http://comodl.org/projects/acnet2?explorer=https%253A%252F%252Fraw.githubusercontent.com%252FOpenSourceBrain%252FACnet2%252Fmaster%252FneuroConstruct%252FgeneratedNeuroML2%252FTwoCell.net.nml#

[2016-08-24 11:13] pgleeson opened #521 "Add method: G.showTime()"
To pop up a widget showing the current time. V useful when replaying simulations

[2016-08-24 11:19] pgleeson commented on #490
Duplicate of #521

[2016-08-24 11:19] #490 closed

[2016-08-24 11:27] pgleeson opened #522 "Improvements to replay of simulations: showing voltages on cells"
When a simulation is reloaded, Play is pressed and "Link morphology to recorded membrane potentials"  there should be much more feedback on what is happening for the user.

- [x] a pop up with the current time should be shown (auto call to G.showTime #521)
- [x] many simulations take some time before interesting activity starts. An option should be presented for running x10 and x100 (or an extra p

[2016-08-24 11:32] pgleeson opened #523 "Upload to dropbox through GUI"
Is it currently possible to link to user's dropbox account for auto upload of results through GUI interaction alone?

[2016-08-24 16:57] gidili commented on #520
@pgleeson any javascript console errors after the green dot updates on the dashboard but not on the experiments table? Can't test it now but that would help narrow it down

[2016-08-24 17:07] slarson commented on #520
Fixes for this are in progress

[2016-08-25 07:00] gidili commented on #500
hi @niteshthali08 - technically you are not creating an instance, as in not using the Instance.js object, because you are simply taking the json for the initial value in the diffReport (or is it the diffModel, I think diffReport is populated after mergeModel runs) for the variable you are interested in and swapping it in appropriate wrapped object in THE model (Model.yourlibrary.yourtype.yourvaria

[2016-08-25 14:05] pgleeson commented on #520
Thanks @slarson!

[2016-08-30 15:42] tarelli commented on #151
Most images are now in the folder, reopen for specific ones or just move them there.

[2016-08-30 15:42] #151 closed

[2016-09-05 11:25] pgleeson opened #524 "Error changing duration of simulation"
Error at first GUI when sim duration is changed:

![selection_014](https://cloud.githubusercontent.com/assets/1556687/18246450/af3cbc0c-7363-11e6-96c4-8559cdd64ec5.jpg)

On comodl: http://comodl.org/projects/acnet2?explorer=https%3A%2F%2Fraw.githubusercontent.com%2FOpenSourceBrain%2FACnet2%2Fmaster%2FneuroConstruct%2FgeneratedNeuroML2%2FTwoCell.net.nml

[2016-09-06 11:00] pgleeson opened #525 "More helpful warning messages"
I'd like to make these warnings more informative:

![selection_015](https://cloud.githubusercontent.com/assets/1556687/18271274/317eccc6-7429-11e6-9f8a-b98cdc86d833.jpg)

Obviously this is a general Geppetto error, not OSB specific, but is it ok to add a sentence: Please try signing in if you would like to persist projects.

[2016-09-06 11:02] tarelli commented on #525
@pgleeson FYI These errors won't be there once I'll be done merging the pending branches since the action won't be possible to begin with unless the user is signed in.

[2016-09-06 11:02] pgleeson commented on #525
Good to know. I'll wait then...

[2016-09-06 11:02] #525 closed

[2016-09-08 17:53] pgleeson opened #526 "Error in network with no connections"
When a network is loaded which has no connections, and the Connectivity button is pressed, the Resolving Types spinner is shown continuously:

![selection_016](https://cloud.githubusercontent.com/assets/1556687/18360325/796e13fc-75f5-11e6-9124-0603fb255832.jpg)

[2016-09-08 18:32] pgleeson opened #527 "Entities from previous visualisation still in background"
I first visualised a single cell in a network (SupAxAxFigA2a)
Then went back to the project page and visualised a large scale network (Thalamocortical_large)
Both still appear in the filter list & on the console:

![selection_017](https://cloud.githubusercontent.com/assets/1556687/18361720/e008bfd6-75fa-11e6-9b56-89d048d371a9.jpg)

[2016-09-10 12:01] #526 closed

[2016-09-10 15:55] #521 closed

[2016-09-10 15:55] #520 closed

[2016-09-12 00:30] #527 closed

[2016-09-12 00:30] #524 closed

[2016-09-12 16:02] pgleeson opened #528 ""View NeuroML source file" does not work for OSB Samples"
e.g. for ACnet, press Model Description, and the View NML2 link points to: file:///home/virgo/geppetto/OSB_Samples/AuditoryCortex/MediumNet.net.nml. Would it be better to point this to https://raw.githubusercontent.com/OpenSourceBrain/OSB_Samples/master/AuditoryCortex/MediumNet.net.nml? All other js/json/xmi are treated as local files

[2016-09-12 16:03] pgleeson commented on #528
@tarelli sorry for filling up https://github.com/openworm/org.geppetto/issues with OSB/NML specific issues...

[2016-09-12 16:06] tarelli commented on #528
@pgleeson No worries,  also when it's a bug of the geppetto NeuroML bundle it can be logged directly in that repo

[2016-09-13 14:29] LordKrabo commented on #500
Hi @niteshthali08 @tarelli @gidili Should I add this to sprint 82?

[2016-09-13 15:32] LordKrabo commented on #16
Hi @borismarin Can I add this to sprint 82?

[2016-09-13 15:33] borismarin commented on #16
If you can find someone who will do it, absolutely!

On 13 September 2016 at 16:32, James Scheibner <notifications@github.com>
wrote:

[2016-09-13 15:35] borismarin commented on #16
That is a "macro" card,  we will need design and prototyping sessions - I'd
be happy to participate, but I don't have the bandwidth to lead it at the
moment.

On 13 September 2016 at 16:33, Bóris Marin <borismarin@gmail.com> wrote:

[2016-09-13 16:03] LordKrabo commented on #16
Would PypeR be worth using? http://www.webarray.org/softwares/PypeR/

[2016-09-13 16:05] borismarin commented on #16
I guess numpy / scipy would be a natural choice (no need to fire up R etc)

[2016-09-13 16:14] LordKrabo commented on #497
I have a setup_optional script - this allows the user to select the repos I need. Having said that, I am not sure whether I should merge this with @slarson 's setup script or whether the two should be kept separate.

[2016-09-13 16:57] tarelli opened #529 "Release 0.3.2"

[2016-09-13 17:04] #445 closed

[2016-09-13 17:04] #484 closed

[2016-09-13 17:05] #491 closed

[2016-09-14 09:29] tarelli commented on #16
@LordKrabo @borismarin I cleared the assignee for this and every other card in the idea column, the idea that in that column it meant "who proposed the idea" rather than "who will fix it" is clearly non standard and confusing. If someone wants to know who proposed the idea they'll just have to click on the card. @LordKrabo thanks for helping keeping the board clean, keep it up :)

[2016-09-14 11:41] pgleeson commented on #528
Fixed with commit above

[2016-09-14 11:41] #528 closed

[2016-09-14 11:46] adrianq commented on #528
@pgleeson @tarelli I deployed yesterday OSB_Samples, Geppetto and OSB(redmine) and all of them are using the development branch. Just to let you know @pgleeson  as your last commit is pointing to master for the OSB_Samples..

[2016-09-14 12:17] pgleeson commented on #528
@adrianq, I've made a few changes today on dev branch of  OSB_Samples, and testing on comodl,which will eventually be merged to master. There will be a difference between dev & master here always as the dev branch has to use the URLs with development and master uses master.

[2016-09-14 14:30] borismarin commented on #16
@LordKrabo maybe [that](https://github.com/nicolaspanel/numjs) ?

[2016-09-14 23:50] LordKrabo commented on #16
The image manipulation stuff seems interesting. Is there any code that I could test it on?

[2016-09-15 14:19] borismarin commented on #16
They seem to have a decent array-like abstraction, which supports fundamental operations. I was originally thinking of timeseries analysis, but VFB (@tarelli) people might also be interested in the image analysis functionality.

[2016-09-16 11:10] pgleeson opened #530 "Warning of no models when I do..."
![selection_108](https://cloud.githubusercontent.com/assets/1556687/18584093/91c5be48-7c06-11e6-9ece-d703050e1668.png)

[2016-09-27 14:42] #514 closed

[2016-09-27 14:46] tarelli opened #531 "Add prototype of nodejs backend"

[2016-09-27 14:50] tarelli commented on #529
Will wait for #489

[2016-09-28 23:15] #522 closed

[2016-09-28 23:16] #504 closed

[2016-09-28 23:21] tarelli commented on #363
After all the performance improvements 30MT loads in 17 seconds on opensourcebrain.org
![screen shot 2016-09-29 at 00 20 28](https://cloud.githubusercontent.com/assets/81127/18935851/b7ed0206-85da-11e6-8a34-1d06d817b562.png)

[2016-09-28 23:21] #363 closed

[2016-09-28 23:24] #508 closed

[2016-09-28 23:25] #460 closed

[2016-09-28 23:26] #457 closed

[2016-10-07 09:45] #500 closed

[2016-10-07 17:56] #531 closed

[2016-10-11 10:20] tarelli commented on #529
Moving to Sprint 84, still few things to polish up before we can release.

[2016-10-11 16:42] tarelli opened #532 "Extend GeppettoJupyter so that we can load a Geppetto Project with a Geppetto model coming from file"
We already have unit tests that dump a snapshot of the model to an XMI.
The XMI needs to be a complete one which doesn't require therefore any model interpreter or simulator.

- [ ] Understand how to extend the Python backends to load a Geppetto project
- [ ] Understand how to extend the Python backends to load a Geppetto Model (XMI) when linked from a Geppetto project
- [ ] Test the sample can be

[2016-10-13 13:14] pgleeson opened #533 "Home button on OSB projects..."
When clicked, home button on right of OSB 3D view beside Persist button:

![selection_119](https://cloud.githubusercontent.com/assets/1556687/19350165/977b1a10-914e-11e6-8eb8-ef99017fad3f.png)

goes to this:

![selection_121](https://cloud.githubusercontent.com/assets/1556687/19350297/0eb7f120-914f-11e6-900b-ef779c762ee9.png)

Maybe go to "Your models" tab if logged in, else go to OSB project main

[2016-10-13 13:16] tarelli commented on #533
@pgleeson the [geppetto-osb extension repo](https://github.com/opensourcebrain/geppetto-osb) since that's the one responsible of OSB business logic. Thx!

[2016-10-13 13:16] #533 closed

[2016-10-13 13:24] pgleeson opened #534 "Inconsistencies between altered Geppetto model and NeuroML representation"
To reproduce:
- Load [ACNet, Two cells](http://www.opensourcebrain.org/projects/acnet2?explorer=https%253A%252F%252Fraw.githubusercontent.com%252FOpenSourceBrain%252FACnet2%252Fmaster%252FneuroConstruct%252FgeneratedNeuroML2%252FTwoCell.net.nml)
- Persist
- Alter TwoCell.Input_1.Input_1.duration from 0.5s to 1s with spotlight
- Click on Model description, click on Input_1, duration is still 0.5s
-

[2016-10-18 18:38] pgleeson commented on #344
Not quite... there is still an issue with c302 models which are generally named of the form: c302_C_Pharyngeal.nml (i.e. not *.net.nml, as they can contain networks+cell+new types). This means they are put in the Other menu on Explore model.

For some reason models loaded in this way, even though they have a simulatable model, throw an error. This is posibly due to the experiment settings not gett

[2016-10-18 18:41] tarelli commented on #344
@pgleeson yeah that's a problem on the OSB side of things though rather than the cElegnas model per se which works (and I'm adding as a sample). OSB doesnt generate an experiment properly if it's just a .nml. Something we should fix 👍

[2016-10-19 09:41] pgleeson opened #535 "Improvements to project/experiment view"
General improvements for handling (large numbers) of saved projects

![selection_123](https://cloud.githubusercontent.com/assets/1556687/19513387/a5e1ab94-95e7-11e6-8fbb-ba3b173ebafe.png)
- [ ] Add date of save (or summary of contents/size of data) to icons on left
- [ ] Add coloured state circle (completed/failed etc) to icons
- [ ] Allow multiple selections of projects, to facilitate deleting mu

[2016-10-19 10:27] pgleeson opened #537 "Improve schema compatibility across different versions"
Some of my saved (OSB) projects from May 2016 can't be open any more. Some of these may have had problems at the time, but it would be good to have a system in place to test whether any updates render old Geppetto projects unusable...

[2016-10-19 10:29] pgleeson commented on #537
![selection_124](https://cloud.githubusercontent.com/assets/1556687/19515404/308d6da8-95ef-11e6-95dd-564e04f1800a.png)

http://osbprod.s3.amazonaws.com/projects/50/HHCellNetwork_MODELa8a42801bdeca0c50489a920fb3f10b4.xmi

[2016-10-19 10:39] tarelli commented on #537
@pgleeson I don't think we have broken compatibility yet, but if you are trying to load a project that was created with the Model project on the master branch the XMI will point to the schema in master. If there is a mismatch between that and the branch of org.geppetto.model which you (and OSB) are using at the moment (development) then EMF will consider the file incompatible. It should be resolve

[2016-10-19 10:42] tarelli commented on #537
@pgleeson unfortunately the viceversa will also be true, projects created while in development will not be compatible once we switch to master 👎  EMF has a strict policy here but maybe there is something we can do to loosen it a bit, this will require some investigation...

[2016-10-19 10:51] tarelli commented on #537
Look into this http://wiki.eclipse.org/EMF/Recipes#XMI.2FXML_Serialization_Recipes

[2016-10-19 15:03] pgleeson opened #538 "Add confirm dialog to Delete experiment button"
![selection_126](https://cloud.githubusercontent.com/assets/1556687/19524357/598edc98-9615-11e6-822a-7a1623737df1.png)

It's quite easy to accidentally click the cross for deleting an experiment when expanding exp info or switching between experiments...

[2016-10-19 16:51] tarelli commented on #502
For Nitesh, tasks breakdown:

- [ ] Understand how to get a URL from Allen for every sweep, e.g. http://celltypes.brain-map.org/mouse/thumbnail/ephys_trace?id=487601493
- [ ] Add a preview variable of type ImageType to the Sweep or to the Signal type (depending on what preview images are available) and populate the value with the Allen URLs, see [this](https://github.com/VirtualFlyBrain/uk.ac.vfb.

[2016-10-19 17:41] pgleeson opened #539 "Renaming experiments..."
It would be nice to be able to rename an experiment after it has been run. A user might run multiple experiments in succession using the default names (New Experiment 2,3,4...), and just when an interesting one works, it would be good to be able to rename it to something more appropriate.

[2016-10-21 12:29] pgleeson opened #540 "Broken link"
http://docs.geppetto.org/en/latest/install.html appears in many places...

[2016-10-27 16:44] LordKrabo commented on #532
https://pypi.python.org/pypi/python-ecore/0.3.0 This was another library.

[2016-10-27 16:53] LordKrabo commented on #488
https://pypi.python.org/pypi/python-ecore/0.3.0 This was another library (aside from accelero).

[2016-10-27 16:57] tarelli commented on #488
@aranega saw your gist here to generate Python code from an ecore https://gist.github.com/aranega/f07e4cb4e850af3288af . Was there any more work done on this that you know of? It would come very useful to us! :) Thanks.

[2016-10-28 08:29] LordKrabo commented on #488
@tarelli @aranega I believe it is python 2.7.

[2016-10-28 09:46] tarelli commented on #488
@aranega thanks for getting back! :) Both would be useful for us, an API to operate at the meta level and create models (ecore would be the input, conceptually equivalent to EMF) and an API that can start instead from a given model (e.g. XMI or JSON would be the input) and create a Python object model to navigate that. The first however (metamodel) would probably be the one to start with. As for P

[2016-10-28 15:40] aranega commented on #488
@tarelli OK, if I understand right, the idea is to provide a kind of EMF, but in Python instead of Java... Wow, would be great, but it is a huge work, EMF contains a lot of stuffs (adapter, notifications mecanism, binary resources, relationship between metamode, subset, derived features...). Indeed, in a logical order, the meta layer is required in order to handle the XMI/Json representation as de

[2016-10-28 15:47] tarelli commented on #488
@aranega Yes, the full blown EMF would be a huge endeavour, I agree. We could maybe start with a small subset proof of concept and then having more advanced functionality implemented incrementally on a per need basis. A subset could be for instance:

- Generate Python classes from ecore
- Deserialize to XMI/JSON
- Serialize to XMI/JSON
- No binary support

[2016-10-28 16:20] aranega commented on #488
@tarelli Indeed, a full support seems way to difficult.

A first step could be to produce the code from an ecore model (a simple one) by hand. From this code, extract the general one in order to produce a core library that mimic the EMF API (a Python `EObject` with the reflexive layer) and write a first generator to generate the ecore metamodel in Python. After that, the XMI format could be handle

[2016-10-29 19:51] niteshthali08 commented on #502
@tarelli : The preview image is available at experiment level i.e. One preview image/NWB file. I couldn't get URL for preview image at sweep level. I have added this experiment level preview image to the list of Metadata which we display on landing page.

[2016-11-08 10:36] pgleeson commented on #459
There is not currently a tooltip on the persist star when the user is logged out, informing them that they have to log in to persist... Would be helpful for anyone just closing the tutorial widget

[2016-11-17 23:19] #529 closed

[2016-11-28 10:20] pgleeson commented on #538
One for @mattearnshaw...

[2016-11-28 11:32] pgleeson commented on #519
Still an issue in live version...

[2016-11-30 01:35] #345 closed

[2016-11-30 01:35] #180 closed

[2016-11-30 01:35] tarelli commented on #194
We probably want to switch to something like material UI for this to take advantage of themes functionality instead of reimplementing it ourselves.

[2016-11-30 01:36] tarelli commented on #537
Made the schema compatible with both master and development.

[2016-11-30 01:36] #537 closed

[2016-12-02 11:49] mattearnshaw commented on #538
fixed in https://github.com/mattearnshaw/org.geppetto.frontend/commit/5ee50090c641b5c66de58b67cdb7f705c6f56e9f

[2016-12-03 13:34] tarelli commented on #538
@mattearnshaw Create a PR to development when you'd like this to be reviewed! As for undo, we'd have to migrate the Project model first to use EMF which supports transactions, undo, etc. It's something I'd like to do at some point but not the smallest of tasks...

[2016-12-03 15:53] tarelli commented on #502
@niteshthali08 is there a PR for this?

[2016-12-06 17:23] tarelli opened #541 "Migrate Project and Experiments to ecore/EMF"

[2016-12-06 17:25] tarelli commented on #538
Created a card to track the migration of Projects and Experiments to EMF https://github.com/openworm/org.geppetto/issues/541

[2016-12-12 09:19] aranega commented on #488
Hi @tarelli, I had few days "almost" free and I started a kind of `Python-Ecore` project (Python3). At this point I have the 'basic' behavior and I'm able to create dynamic metamodel as well as static metamodel the related instances in both cases. Here is some very simple snippets of how it looks like.

For the 'dynamic' part:
[code]

For the 'static' part:

[code]

The main core plays with reflec

[2016-12-13 14:56] tarelli commented on #488
@aranega that looks great! Is the code available in some repo yet?

[2016-12-13 15:08] aranega commented on #488
@tarelli Not yet, I have to add some files in before: clean experimentations and provide some examples.

I will try to release something today or at least before the end of the week (sorry about that). I just performed some tests and at the moment everything seems fine, but obviously more tests are required.
The missing XMI import/export is also a huge "blocker" at the moment (working on it).

[2016-12-13 15:10] tarelli commented on #488
@aranega no worries, thanks a lot for doing this! Once we review what you have we can look at intersections between what we have done manually to figure out the exact requirements and what is generate automatically. cc @adrianq

[2016-12-13 15:19] aranega commented on #488
@tarelli My pleasure, I had the project of working on such things and you gave me the perfect opportunity. Regarding the code generation, you'll need to generate the equivalent of the 'static part' for your own metamodel.

I tried to keep the mapping easy so code generation would be easy to perform. I will provide more advanced examples in the project repository.
At the moment, the idea is to keep

[2016-12-14 14:02] #463 closed

[2016-12-14 14:02] #538 closed

[2016-12-14 14:42] bupereira commented on #479
@tarelli I just want to say thanks for posting this. Configuring my Virgo in my raspberry pi as I type this. Really helpful!

[2016-12-14 16:02] tarelli commented on #459
Moved here https://github.com/OpenSourceBrain/geppetto-osb/issues/14

[2016-12-14 16:02] #459 closed

[2016-12-14 16:42] tarelli commented on #479
@bupereira glad it helped!

[2016-12-14 19:50] aranega commented on #488
@tarelli Oh right, I forgot that editing comment does not send notifications.
So, code's here: https://github.com/aranega/pyecore I will add more complete examples and continue bugfixes and my work on the other points. In the same time, I'm adding some tests to improve/ensure the project stability.

[2016-12-15 15:29] fdouma opened #542 "Error reading a variable from the recording:"
After running the experiment without problems, this error pops up when I want to plot all recorded variables:

_org.geppetto.core.common.GeppettoExecutionException: Error reading a variable from the recording_

[2016-12-16 11:31] tarelli commented on #542
@fdouma have you recorded a variable before running an experiment? http://docs.geppetto.org/en/latest/recordingVariables.html

[2016-12-16 11:38] tarelli commented on #488
@aranega that's great, thanks! I will start playing with it over Christmas holidays :)

[2016-12-18 11:01] tarelli opened #543 "Move to Virgo 3.7.2 / Spring 4"
We are currently using Virgo 3.6.x which uses Spring 3.1.1.
This is complicating things when using recent libraries since Spring 3.1.1 by now is using some old version for common libraries (see fasterxml for instance). Upgrading to Virgo 3.7 (where now the default Spring is 4.2.4) will take care of this.

[2016-12-18 17:34] tarelli opened #544 "Release 0.3.3"

[2016-12-18 17:39] #51 closed

[2016-12-18 17:50] tarelli commented on #544
QUnit tests

<img width="1315" alt="screen shot 2016-12-18 at 18 36 55" src="https://cloud.githubusercontent.com/assets/81127/21295240/1f3035e0-c551-11e6-8d68-b2637cd54237.png">

<img width="1315" alt="screen shot 2016-12-18 at 18 48 13" src="https://cloud.githubusercontent.com/assets/81127/21295317/a08664d8-c552-11e6-9bfa-55362aebb1ba.png">

<img width="1315" alt="screen shot 2016-12-18 at 18 49

[2016-12-18 21:59] tarelli opened #545 "HDF library doesn't work with Java 8"
This problem can be observed on Travis where the build is failing for model.nwb, it points to the HDF5 bindings we are using https://github.com/jrmartin/hdf5-java-bindings not working anymore.

[code]

By comparing a working and a not working log the difference seems to be Java 8 (which now travis uses by default) and Java 7.
 [This link](http://stackoverflow.com/questions/41010786/when-in-java-lo

[2016-12-18 22:18] tarelli commented on #545
I switched travis to use jdk7 and it's still failing, but since Java 8 is still what's in the system before travis switches to jdk7 I'm not sure it can be ruled out...uploading the logs to have more eyes on them.
[broken.txt](https://github.com/openworm/org.geppetto/files/659708/broken.txt)
[worked.txt](https://github.com/openworm/org.geppetto/files/659709/worked.txt)

[2016-12-18 22:40] tarelli commented on #545
<img width="874" alt="screen shot 2016-12-18 at 23 39 19" src="https://cloud.githubusercontent.com/assets/81127/21297168/3ab1bd00-c57b-11e6-8b39-7d026a4c2ee1.png">
Nothing to do with Java 8, [SetNatives](https://github.com/openworm/org.geppetto.model.nwb/commit/c5258f1e46243b738f1ff5ad3a07edccc97e17c9) was missing from one test and with a different order the build was failing.

[2016-12-18 22:40] #545 closed

[2016-12-30 11:57] aranega commented on #488
@tarelli Just a brief update on my progresses, the lib is more stable (it still needs love) and I'm still working on the XMI deserialization/serialization. The XMI import is on good tracks, I was able to deserialize the Eclipse Ecore metamodel and Eclipse UML (for tests purposes). Of course, everything is not perfect, but it's a good step forward :)

[2017-01-05 18:57] aranega commented on #488
@tarelli
Sorry for the multiple posts, continued to work on the little project. I was able to load a (the?) geppetto metamodel, register all it's packages, load an XMI test model, modify it and save the new model as XMI.
I put the demo code at this address:
https://gist.github.com/aranega/89761454a232106a20ef4184bd9198cf

It is a little huge at the moment, but keep in mind that I needed tp:

* cre

[2017-01-05 23:12] tarelli commented on #488
@aranega that's great! We were trying to load the ecore on Tuesday during the Geppetto meeting but we had some errors, will try again with your snippet. Btw if you have time I would be glad to invite you to the next Geppetto meeting on the 17th of January to present what you have done so far! Again thanks so much for doing this :1st_place_medal:

[2017-01-05 23:40] aranega commented on #488
@tarelli I performed some fixes since tuesday (check the master branch), so this time it should load!
I must apologies, error messages are not that great at the moment (still need to work on this also). Actually, the two things I totally forgot about your metamodel is that it contains nested packages and it uses xmltypes and these implies some special handling regarding the emf resource set.
As yo

[2017-01-09 18:57] tarelli opened #547 "Any push to any repository triggers a travis build on org.geppetto.testbackend"

[2017-01-10 15:54] tarelli commented on #344
@pgleeson I managed to simulate this from OSB (although maybe no inputs in the model?) What error were you getting? What were the other models were you had path problems? Thanks!

![screen shot 2017-01-10 at 15 50 25](https://cloud.githubusercontent.com/assets/81127/21813084/f75d300a-d74c-11e6-931c-9a4a57c4ff21.png)

[2017-01-10 18:15] pgleeson commented on #344
A number of the examples listed under "Other", i.e. they don't end with *.net.nml are problematic. See c302_C_Pharyngeal.nml. This may be to do with being under Other rather than the relative paths problem. c302_D_Pharyngeal.nml does have a path, but not ".."

See [here](http://opensourcebrain.org/projects/pospischiletal2008?explorer=https%253A%252F%252Fraw.githubusercontent.com%252FOpenSourceBrai

[2017-01-10 21:25] tarelli commented on #543
Created the branch virgo37spring42 for model/core/neuroml/simulation/frontend. Not yet working, see https://www.eclipse.org/forums/index.php/t/1079844/

[2017-01-12 12:55] #544 closed

[2017-01-12 13:02] #497 closed

[2017-01-12 20:23] MichaelCurrie commented on #487
@gidili @tarelli can this become a priority for the Geppetto team?  This issue is the one that will close the loop and let the movement validation team validate the output of the simulation.  Thanks

[2017-01-13 12:07] gidili commented on #487
@MichaelCurrie we will add to the agenda at the next geppetto meeting! If you we can discuss together 👍

[2017-01-13 12:20] tarelli commented on #487
It's not a matter of priority @MichaelCurrie, if you have anyone who can volunteer happy to guide them. There are other cards (to get the latest of Sibernetic working again within Geppetto for instance) which are a prerequisite to this and have even higher priority OpenWorm wise that despite my efforts have not yet happened due to contributors working on it coming and going unfortunately.

[2017-01-13 15:45] pgleeson commented on #543
As mentioned @tarelli I'm getting a fasterxml related error, see partial log below. Is the only solution for this to update to virgo 3.7 locally?

[code]

[2017-01-13 15:51] tarelli commented on #543
@pgleeson no, no need to update Virgo (and in a branch I managed to solve the problem altogether). To solve it in yours (development) for now (until I merge) you just have to remove from repository/usr of virgo the version 2.5.3 both JARs are present and they conflicting. In the branch where I fixed it we are using a les newer version of AWS which doesnt require to update fasterXML. Let me know if

[2017-01-16 12:42] tarelli commented on #488
@aranega the meeting is tomorrow Tuesday the 17th at 4pm GMT if you can join!

[2017-01-16 19:02] aranega commented on #488
@tarelli Ouch, no luck on my side, I have some meetings scheduled more or less at the same time. I'll check tomorrow morning If I can move some of them (don't worry, I'll tell you early enough, sorry for the inconvenience). I hope I will be able to join you!

(PS: I pushed more modifications on the project, the static generator is almost done)

[2017-01-17 08:19] aranega commented on #488
@tarelli I moved some meetings and I'm available for the meeting at 4pm GMT (5pm here).

[2017-01-17 12:02] LordKrabo commented on #488
Hi @aranega I have been testing some of your code, and I keep running into this error:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "pyecore/resources/__init__.py", line 1, in <module>
    from .resource import ResourceSet, Resource, URI, global_registry
  File "pyecore/resources/resource.py", line 2, in <module>
    import urllib.request
ImportError: No module

[2017-01-17 12:21] aranega commented on #488
@LordKrabo I think I have an idea, PyEcore is designed to work with Python >= 3.3, perhaps you are using Python 2?

[2017-01-17 14:32] tarelli commented on #488
@aranega great, what email should I invite?

[2017-01-17 14:35] aranega commented on #488
@tarelli You can get the email from my profile: vincent.aranega{AT}gmail.com . Do you use webex or something like that?

[2017-01-17 14:58] tarelli commented on #488
@aranega https://plus.google.com/hangouts/_/calendar/YnF2bHJtNjQybTNpcmplaGJldGhva2tjZGdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ.r02shtr10hagn2ob61ndeo5cq0?authuser=0 on hangout, there should be an event in your calendar now!

[2017-01-17 15:00] aranega commented on #488
@tarelli right, that's good. Hangout's perfect!

[2017-01-17 15:58] LordKrabo commented on #488
@aranega I think you are correct, I have been switching to Python 3.3 and upwards but have been hitting different errors.

~/geppetto-sources/pyecore $ pyenv global
3.5.2
~ /geppetto-sources/pyecore $ python
Python 3.2.6 (default, Jan 18 2017, 02:41:24)
[GCC 4.8.4] on linux2
Type "help", "copyright", "credits" or "license" for more information.

ImportError: No module named ordered_set
  File "<st

[2017-01-17 15:59] aranega commented on #488
@LordKrabo It seems that some dependencies didn't installed correctly (we will discuss this of course).

[2017-01-17 17:01] LordKrabo opened #548 "Setup.py script improvements"
[ ] Need to update remainder of *.py scripts to refer to config.json
[ ] Need to change config.json flag so that it is relevant for everything
[ ] Work out which scripts use config.json

[2017-01-17 18:10] LordKrabo commented on #488
@aranega Of course. Forgive me for my forgetfulness, but what did you say the two dependencies were?

[2017-01-17 18:17] aranega commented on #488
@LordKrabo No problem, there are: `lxml` and `ordered-set`. If you do a `python setup.py install` they should install also (if they don't, please, tell me, I perhaps forgot something in the `setup.py`).

[2017-01-18 22:47] LordKrabo commented on #488
@aranega Sorry for the delay, tried this again and I am having issues importing additional modules from resources.py

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: cannot import name ResourceSet

[2017-01-18 23:01] aranega commented on #488
@LordKrabo that strange, the ResourceSet import should be fine. Perhaps it comes from the way the imports are referencing each others in PyEcore (I will change that). From which location did you launch your test script?

[2017-01-18 23:18] aranega commented on #488
@LordKrabo I've just hotfixed the `master` branch with a new version that uses relative pathes instead of absolute onces, that should either fix the issue you have or give more information.

[2017-01-20 03:38] LordKrabo commented on #488
I was launching my test script from the top level directory (~/pyecore). I pulled your changes and I am still running into problems with importing ResourceSet:

from pyecore.resources import ResourceSet, URI
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: No module named resources

[2017-01-20 06:50] aranega commented on #488
@LordKrabo don't worry, this is great that you can test it, I'm sorry that it is so much painful at the moment, there is perhaps

[2017-01-20 07:15] aranega commented on #488
@LordKrabo don't worry, this is great that you can test it, I'm sorry that it is so much painful at the moment, there is probably some kind of tricks or side effects that I'm not aware of with Python.
In your last error message, it looks like it cannot find the 'resources' package which is located in the `pyecore` one. As if it could not find the `__init__.py` file in `pyecore/resources` which is

[2017-01-21 00:00] LordKrabo commented on #488
@aranega Sadly still running into the same error. I created the new testenv with the first command, reran setup.py and when I tried running from pyecore. I note that __init__.py has not been placed in the pyecore/resources directory on my installation.

[2017-01-21 07:40] aranega commented on #488
@LordKrabo the `__init__.py` file exists in `pyecore/resources` in the repository, so I've ran some tests in order to re-create your issue. I started with a fresh clone of the repository and there were no issues on my side. Also, I use travis-ci for tests with `tox` which clones/installs/runs the tests and it didn't report me errors.
Anyway, I successfully reproduced your issue by manually removin

[2017-01-27 11:53] LordKrabo commented on #488
@aranega Tried git checkout -- . and that seemed to reimport __init__.py. Thanks!

On another note, looking at the geppettoModel.ecore file, what should the ecore files refer to instead of the eclipse ecore URLs? http://www.eclipse.org/emf/2002/Ecore

[2017-01-27 11:54] #534 closed

[2017-01-27 11:54] #502 closed

[2017-01-27 11:55] #344 closed

[2017-01-27 11:55] tarelli opened #549 "Release 0.3.4"

[2017-01-27 11:57] tarelli commented on #495
This was done for the plotting widget

[2017-01-27 12:12] tarelli commented on #488
@LordKrabo thanks for testing the above!
@aranega I invited you to the Geppetto contributors, you should find the invitation visiting [this](https://github.com/openworm/).
This is the repo where you can commit the API https://github.com/openworm/pygeppetto/tree/master.
And [these](https://gist.github.com/tarelli/0d461b3e4a429e25225542e7bd11cff0) are three XMIs that you can use to test it! Thanks a

[2017-01-27 18:19] aranega commented on #488
@LordKrabo There is nothing wrong in the `.ecore` file per say only some . The URI `http://www.eclipse.org/emf/2002/Ecore` should not be removed, it gives EMF an indication about the metamodel which have been used for describing your model. In your case, your model is a metamodel, so it references the Ecore URI.

The URI that is a little bit different in the geppetto metamodel is the one used to r

[2017-01-28 10:47] LordKrabo commented on #488
No worries. Would you like me to add some of the these prerequisites as part of setup.py?

[2017-01-28 12:23] aranega commented on #488
@LordKrabo you mean about the `.ecore`?

[2017-01-28 13:02] tarelli commented on #488
@aranega what error do you get with Medium Net? It loads fine with the dynamic editor. As for the stuff that I purged we had already moved it elsewhere so no worries but thanks for double checking :)

![screen shot 2017-01-28 at 13 00 41](https://cloud.githubusercontent.com/assets/81127/22396783/e09ca038-e559-11e6-8a33-95857403cc3c.png)

[2017-01-28 13:38] aranega commented on #488
@tarelli I have the same issue under eclipse, the XMI does not seems valid. PyEcore (actually lxml) report me an issue at line 3319 and so does the SAX parser under Eclipse. The file I get from gist is quite large (> 127.000 lines) and at line 3319 it looks like there is another `<?xml ..>` definition. Almost as if many `.xmi` have been concatenated together.

[2017-01-28 13:45] tarelli commented on #488
@aranega I reuploaded MediumNet.net.nml.xmi on the gist, maybe there was an error as I drag and dropped them, the file should have only 3318 lines :)

[2017-01-28 22:03] LordKrabo commented on #488
@aranega I was thinking more the pew dependencies and the testenv commands above.

[2017-01-29 09:01] aranega commented on #488
@tarelli Thanks! I was a little worried that Big < Large < Medium :). So, i've tested this time with the Medium model, it loads, not issues. With the new version (which is the default one now), I have these time measures:

Medium model - dynamic metamodel -> loads ok (around 0.950s)
Medium model - static metamodel -> loads ok (around 0.500s)

I released a new version of pyecore, from 0.0.10 to 0.1

[2017-01-30 14:32] aranega commented on #488
@tarelli @LordKrabo I've pushed a version of the pygeppetto API in the `developement` of the repository. I've quickly written some directions in the `README.md`, but there is still some questions that remain. I also released a new version of PyEcore (0.1.2) in `pypi`. If you have already installed a version of `pyecore` using pip, you can upgrade the package using: `$ pip install pyecore --upgrade

[2017-01-31 16:17] tarelli commented on #397
https://github.com/openworm/org.geppetto.frontend/blob/9a651cdbc74940e91f6b0e8812536c96093a207c/src/main/webapp/js/GEPPETTO.js#L378

[2017-02-08 15:50] pgleeson commented on #543
@tarelli I had been managing to run Geppetto after updating the development branches, usually by starting with

     ./startup.sh -clean

It had been failing like this occasionally, but ran every ~2nd time. Now it always stalls as follows:
[code]

There are no fasterxml jars in repository/usr...
This is the same after a fresh install of Virgo 3.6.4

[2017-02-08 16:17] tarelli commented on #543
@pgleeson make sure that the only AWS JARs in repository/usr are the ones with version 1.10.2 (should be 49 of them), Make sure org.apache.servicemix.bundles.aws-java-sdk-1.8.3_2.jar is not there and none of the *-1.11.49.jar are there (we were using these in previous versions).

![screen shot 2017-02-08 at 16 11 56](https://cloud.githubusercontent.com/assets/81127/22745710/6b553cfe-ee19-11e6-94e8

[2017-02-08 17:27] pgleeson commented on #543
@tarelli, yes, that seems to have solved that issue, thanks.

On a related note, trying to integrate some of the Lems2 libraries (e.g. https://github.com/pgleeson/expr-parser). At the moment getting errors which probably stem from the fact that they're not OSGi bundles:
[code]
What is your preferred way to convert/configure a Maven project into OSGi (ideally not through Eclipse...)

[2017-02-08 18:21] tarelli commented on #543
@pgleeson you can do from command line using [that jar](https://github.com/openworm/org.geppetto/tree/master/utilities/bnd). The instructions are in the readme. bnd.jar will create a new osgfied JAR.

[2017-02-16 13:53] pgleeson commented on #543
Thanks @tarelli. Some slightly different issues from the original error exist now, opening a separate issue.

[2017-02-16 14:06] pgleeson opened #552 "Integrate org.model.lems libraries with Geppetto"
I'm trying to integrate the "Lems2" repos into Geppetto, see https://github.com/NeuroML/NeuroML2/issues/100 for current status (latest working versions under https://github.com/pgleeson). These are compatible, building and I've OSGi-ified them and added them on my branch of the Gepp. mvn repo here: https://github.com/openworm/org.geppetto.maven/tree/mvn-revo-pg/org

I have 2 branches of org.geppet

[2017-02-16 14:21] tarelli commented on #543
@pgleeson 👍 Will keep this issue open as in the future we still want to migrate to Virgo 3.7/Spring 4 once they release it.

[2017-02-16 14:59] pgleeson commented on #543
Sorry, forgot it was originally your issue...

[2017-02-17 08:08] aranega commented on #488
@tarelli Sorry I had a lot of work lately, I didn't find the time to join you on your last meeting. I'm planning to add `uri <--> EPackage` mapping in the root package for the `pygeppetto` api this week-end, as well as the mapping between your 'master' URI and your 'developement' one (I didn't notive that you have two different URI). Does this sounds right to you?

[2017-02-18 19:36] #549 closed

[2017-02-20 10:12] tarelli commented on #488
@aranega no worries! Yes that sounds good, we map the two schemas to allow more flexibility between models defined in development versions or released ones.

[2017-02-28 17:25] tarelli commented on #532
@LordKrabo Full XMIs for testing https://gist.github.com/tarelli/0d461b3e4a429e25225542e7bd11cff0

[2017-02-28 17:37] LordKrabo commented on #532
Right, so at this stage I have been working on trying to import the XMI samples into pygeppetto. @aranega has written a nice guide on how to import these XMI samples and create new ecore modules but there are some things which are still missing so I have just been modifying pygeppetto along the way.

[2017-03-02 08:54] aranega commented on #532
@LordKrabo @tarelli I've finally pushed a new version on the developement branch of PyGeppetto (I'm really really sorry about the delay). This new version automatically register all the required metamodel URIs (master and develop URI) and uses the last PyEcore version (0.1.3).

@LordKrabo Could you tell me what's missing? I will try to enhance/fix the code generator and/or PyEcore if it's required

[2017-03-03 13:52] #488 closed

[2017-03-03 13:53] #540 closed

[2017-03-13 12:26] LordKrabo commented on #532
@aranega @tarelli Sorry guys I've been inactive on this one. I kept on chasing a bug around for the metamodel registration of the URIs and I think there might be a missing double type in there somewhere which was creating a NoneType exception. I'm sorry for my ineptitude. Did you want my to commit my code with the fix? Thank you.

[2017-03-13 12:52] aranega commented on #532
@LordKrabo It could be an issue in the code generator, I have to check, could you commit/push your modifications on a new branch from develop (with a problematic XMI so we had it to the test suite)? This way, it will be easier to merge your modification, and for me to spot the issue in PyEcore.

[2017-03-28 15:27] tarelli opened #553 "Make public docker containers available to run Geppetto and have a basic development environment"

[2017-03-28 15:51] LordKrabo opened #554 "Create installation videos"
In addition to the documentation on how to install Geppetto, it would be nice to have a set of videos to guide installation. These include:

[] Install from source on Windows
[] Install from source on Linux
[] Install from Python console

If we can create these videos and upload them to the blog it would be good.

We can also create videos for Docker installation once we have docker deployment for

[2017-03-28 20:18] aranega commented on #532
@LordKrabo I'm working on some new features for PyEcore (possibility to delete elements, proxy and stuffs) and I've checked your branch of the pygeppetto for the xmi loading and your modifications about the missing types. These types were missing in the v.0.1.2 but I've added them in the v.0.1.3 version of PyEcore :). I've upgraded the PyEcore version in the pygeppetto `setup.py` in the developmen

[2017-04-10 16:35] aranega commented on #532
@tarelli @LordKrabo Hi there, things are going pretty fast for PyEcore with the intervention of a very active contributor. We are currently discussing which Python version we should target aranega/pyecore#6. The current PyEcore targets Python >= 3.3 and we would like to target at least Python 3.4 (or higher). The question is, which Python are you using guys? I would prefer to keep a strong compati

[2017-04-10 22:21] LordKrabo commented on #532
Hi @aranega I am currently using python 3.4 on my version.

Out of interest I am also trying to implement the websocket functionality from org.geppetto.frontend.jupyter into this version of Python so that we can import XMIs from hyperlinks. At the moment I am doing this by reimplementing the code in geppettoJuypter in __init__.py model. Is this the correct way of doing things?

[2017-04-11 06:33] aranega commented on #532
@LordKrabo Great, I think we will target Python 3.4 as smaller Python version.

Regarding your XMI import, I never played with websockets in Python so I don't know if there is special  constraints or stuffs, but I implemented a special kind of `URI`, the `HttpURI` in PyEcore that could fetch XMI from a remote location like this (but at the moment, it cannot write at this remote location, only read

[2017-04-11 15:44] LordKrabo commented on #532
@aranega Thank you.

With the HttpURI implementation, would something like this help with writing to a remote location?

http://stackoverflow.com/questions/27893929/python-appending-file-remotely

[2017-04-11 16:19] aranega commented on #532
@LordKrabo Regarding the link you post, it seems that the solution relies on `fabric` which proposes facilities to handle ssh remote connections/actions. It really depends on your server/protocol and stuffs. With the current state of the lib, the solutions I could think of are:

* finding a library that gives you a kind of abstract FS representation and writing a custom `URI` with a custom `create

[2017-04-11 16:39] aranega commented on #532
@LordKrabo @tarelli If the final goal is only to read from an URL, the `HttpURI` should be enough (it uses the `urllib` and the same code than the one you linked).

[2017-04-11 17:40] LordKrabo commented on #532
Okay @aranega @tarelli I have tried restructuring this code as follows:

class WebSocketHandler(tornado.websocket.WebSocketHandler):
    def open(self):
        # 1 -> Send the connection
        self.write_message({"type":"client_id", "data":"{\"clientID\":\"Connection1\"}"})
        # 2 -> Check user privileges
        self.write_message({"type":"user_privileges", "data":"{\"user_privileges\": \

[2017-04-14 09:44] aranega commented on #532
@tarelli @LordKrabo
Hi, I released a new version of `pygeppetto` in the `developement` branch which is generated from the new code generator proposed by a `PyEcore` contributor. This new version introduces named parameters to each elements. This way, instances creations are way more practical and less verbose:

[code]

Obviously, the 'old' way of creating elements (assigning attribute/reference va

[2017-04-14 09:46] tarelli commented on #532
@aranega that's great, thanks so much for this!

[2017-04-17 13:15] tarelli opened #555 "Release 0.3.5"
- [x] Run Casper
- [x] Run QUnit
- [x] Merge to master
- [x] Release notes
- [x] Deploy to Live

[2017-04-17 13:15] tarelli commented on #555
![screen shot 2017-04-17 at 13 41 35](https://cloud.githubusercontent.com/assets/81127/25089913/58283980-2378-11e7-916b-a0b525587830.png)
![screen shot 2017-04-17 at 13 42 04](https://cloud.githubusercontent.com/assets/81127/25089914/58389546-2378-11e7-84a6-c7c9ffaee83d.png)
![screen shot 2017-04-17 at 13 40 04](https://cloud.githubusercontent.com/assets/81127/25089915/58402e28-2378-11e7-9fc8-78f8

[2017-04-18 14:51] Robbie1977 opened #558 "production build with master profile causing errors"
I'm getting errors with ```mvn clean install -P master "-DcontextPath=org.geppetto.frontend"```
see https://geppetto-dev1.virtualflybrain.org/org.geppetto.frontend/geppetto?load_project_from_url=http://v2a.virtualflybrain.org/conf/vfb.json
that I do not get with ```mvn clean install -P development "-DcontextPath=org.geppetto.frontend"```
see https://geppetto-dev.virtualflybrain.org/org.geppetto.fr

[2017-04-18 15:00] tarelli commented on #558
@Robbie1977 that was how @adrianq and I spent Easter Monday :) If you merge from the latest of development or master it will be fixed!

[2017-04-18 15:00] #558 closed

[2017-04-23 11:53] LordKrabo commented on #532
@aranega @tarelli I'm sorry to be a nuisance about this but I appear to be hitting a bit of a brick wall. I have tried importing the xmi files in the test repository here (https://github.com/openworm/org.geppetto.samples/tree/development/UsedInUnitTests/balanced) into org.geppetto.frontend_jupyter using pygeppetto, and I keep running into this error:

      tree = etree.parse(self.uri.create_instr

[2017-04-23 12:08] aranega commented on #532
@LordKrabo @tarelli The error seems to come from the XML parsing. The 'Specification mandate value for attribute' supposes that there is an XMI attribute without value, which is not allowed by the XML specification. Could you push or give me a pointer to your current code? I will try to take a look at it. Also, the XMI import is done using the `HttpURI` dedicated URI? If so, perhaps the XMI code i

[2017-04-23 12:15] LordKrabo commented on #532
Hi @aranega This was the gist that I created to replicate the code that I was using.

https://gist.github.com/LordKrabo/344b9413ef6b0406bf4eed75303d4c7d

The strange thing is that none of the XMI files I was using to test were 35 lines long.

[2017-04-23 12:18] LordKrabo commented on #532
I also placed the pygeppetto repository inside org.geppetto.jupyter_frontend and was also attempting to call rset.get_resource from inside this repository.

[2017-04-23 12:30] aranega commented on #532
Indeed, all the XMI I saw are really small. In the gist you've posted, I only see the `ResourceSet` defintion, but not the `get_resource` call, could you post the snippet where the `get_resource` is called?
Also, the `HttpURI` must be used with the `get_resource` as it creates a "link" towards the resource, but it does not access it directly, only when the resource is accessed. The basic schema wo

[2017-04-23 12:36] LordKrabo commented on #532
I tried replicating this from the command line, but unfortunately ran into the same error:

[2017-04-23 12:40] aranega commented on #532
Ok, I think I get it, I suspect the issue coming from the fact that the link points to the github page instead of the raw resource (the raw content). If we look at the source code of the github HTML page for https://github.com/openworm/org.geppetto.samples/blob/development/UsedInUnitTests/SingleComponentHH/GeppettoModel.xmi, we have

[code]
Instead, you should use the raw resource content located

[2017-04-23 13:00] LordKrabo commented on #532
Okay I think we're getting further. This might be down to how I have implemented the connection between pygeppetto and frontend_jupyter though...

     Traceback (most recent call last):
     File "<stdin>", line 1, in <module>
     File "/home/james/geppetto-sources/org.geppetto.frontend.jupyter/src/jupyter_geppetto/pygeppetto/pyecore/pyecore/resources/resource.py", line 28, in get_resource
    r

[2017-04-23 13:21] aranega commented on #532
So, it only misses the metamodel registration. This is quite strange because it is registered in the `__init__.py` from pygeppetto. To do it manually (while I search why the registration is not perfomed automatically), you can do this:

[code]

I'm searching why the metamodel registration is not done automatically.

[2017-04-23 13:45] aranega commented on #532
I search a little bit, and the auto-registration is actually performed. The issue I had came from `ipython` which was having trouble with my virtualenv (ipython does not seems to deal very well with virtualenvs).
To fix the issue, I install `ipython` from `pip` inside my virtualenv, reload it (exit it then activate it again), and everything's working without the manual metamodel registration. With

[2017-04-24 14:46] LordKrabo commented on #532
Right, from what I can tell I'm not running pygeppetto in the virtualenv:

    import sys
    if hasattr(sys, 'real_prefixc'):
     ...
    File "<stdin>", line 2

    ^
    IndentationError: expected an indented block

Which I'm guessing is a good thing? Also, I managed to import the XMI file, but with this error (but I think I know what causes it, so all good).

    AttributeError: 'NoneType' ob

[2017-04-24 14:54] aranega commented on #532
@LordKrabo That's great new! If you're not in a virtualenv, I guess the pyecore version that you have directly embedded is probably outdated. That could explain the metamodel non auto-registration in the global_registry.

[2017-04-26 10:10] tarelli commented on #555
SSL Certificate renewed for live.geppetto.org.

[2017-04-26 10:10] #555 closed

[2017-05-04 23:05] tarelli commented on #263
Obsolete, closing

[2017-05-04 23:05] #263 closed

[2017-05-21 11:38] tarelli commented on #552
The libraries are now working

[2017-05-21 11:39] #552 closed

[2017-05-21 11:44] tarelli opened #559 "Release 0.3.6"

[2017-05-31 19:28] tarelli commented on #559
![screen shot 2017-05-31 at 20 27 05](https://cloud.githubusercontent.com/assets/81127/26649928/a34494e2-463f-11e7-884b-c742d584db61.png)

[2017-05-31 19:57] #542 closed

[2017-05-31 19:57] #509 closed

[2017-06-02 09:01] pgleeson opened #560 "Add info on version of Geppetto in Help dialog"
Also, if someone is in OSB explorer there's nothing that says "by the way, this is built on Geppetto...". Might be good to add a plug/link for Geppetto there.

(It is in the console, but people are more likely to look in the help/info button)

[2017-06-06 14:19] LordKrabo commented on #532
@aranega I'm really sorry for going dark on this for a while, I've kind of gotten lost with my own research. Anyway, I thought I might have another crack at this. For whatever reason, the metamodel_registry is still not being populated. I have tried changing the registration:

     self.resource_set.metamodel_registry[self.prefixes[prefix]]

To

     self.resource_set.metamodel_registry.get(self.p

[2017-06-06 14:23] aranega commented on #532
@LordKrabo Don't worry, we will found the root of the issue. First, could you tell me if PyEcore is installed using `pip` or if it is installed

[2017-06-06 14:25] LordKrabo commented on #532
PyEcore is installed using pip. I tried modifying the embedded Pyecore folder, but I ended up getting nowhere so I tried using the version available on pip instead.

[2017-06-06 14:32] aranega commented on #532
I've published new versions so, update your pyecore version:

    $ pip install pyecore -U

Just to be sure we are on the same version, if there is a bug in PyEcore, or a missing stuff, it will be easier to indentify and patch it.
Then check in the `model/__init__.py` that you have this from line 121 to 132:

[code]

[2017-06-06 14:55] LordKrabo commented on #532
That last 11 lines of code were not in my version, so I've added them in and also imported global_registry and that appears to have resolved the problem!

<pyecore.resources.xmi.XMIResource object at 0x7efed985b2e8>

Thank you so much @aranega! Should I push that change I made to model/__init__.py?

[2017-06-06 14:59] aranega commented on #532
\o/ I'm glad everything loads ok now!

These lines are already commited/pushed in the repository (on the `master` and `develop` branch), perhaps your pygeppetto version is out of sync with the github repository?

[2017-06-06 15:10] #559 closed

[2017-06-06 15:43] pgleeson commented on #523
@tarelli any update on this?

[2017-06-12 14:58] mattearnshaw commented on #523
haven't been able to get this to work manually, authentication works but no files appear.

[2017-06-12 15:02] tarelli commented on #523
@mattearnshaw do you get any error? We have the QUnit persistence tests that test the dropbox upload, can you try run those (you'll first have to do the linking for your user for them to pass)

[2017-06-12 16:49] mattearnshaw commented on #523
@tarelli the unit test works. no error before, but since it's working in some capacity, i will take another look tomorrow

[2017-06-13 08:46] pgleeson commented on #492
Done!

[2017-06-13 08:46] #492 closed

[2017-06-13 10:45] pgleeson commented on #519
Seems to be fixed now in development/comodl. However the cells lose their colour:

![selection_290](https://user-images.githubusercontent.com/1556687/27078956-be69cf9c-502d-11e7-9d3e-4d92c890eb25.png)

![selection_289](https://user-images.githubusercontent.com/1556687/27078970-c6c2b97e-502d-11e7-9ed3-a3777687ef6a.png)

[2017-06-13 10:57] tarelli commented on #519
@jrmartin can we add a test in the casper Core suite to check that acnet2 doesn't loose the colour when switching to lines and then back to cylinders acnet2.setGeometryType("lines") acnet2.setGeometryType("cylinders")?

[2017-06-14 12:39] mattearnshaw commented on #519
fix for loss of colours was merged

[2017-06-14 12:39] #519 closed

[2017-07-04 13:45] LordKrabo commented on #543
Sorry to revive this dead thread, but I'm having some similar problems to @pgleeson in running geppetto 0.3.6 using virgo 3.6.3. I've tried updating each of the repos (and using the .bnd jar to unwrap jars like @tarelli  suggested but I've hit this snag. I've also tried removing org.geppetto.model.neuroml from geppetto.plan but without luck. This is the error I hit.

         [2017-07-04 15:35:23.

[2017-07-04 14:31] LordKrabo commented on #543
I've also removed all of the .sph modules in eclipse and I will try regenerating the jars.

[2017-07-04 14:57] LordKrabo commented on #543
Just another note, I've tried this edit to configuration/org.eclipse.virgo.repository.properties following this guide without luck (https://www.eclipse.org/forums/index.php/t/448565/)

[2017-07-04 16:36] LordKrabo opened #562 "Automatically including .jar dependencies in virgo & eclipse"
Something that is mentioned in the documentation is including the necessary jar dependencies automatically in the virgo home directory (http://docs.geppetto.org/en/latest/eclipsesetup.html). I know I've done some work in the past on automatically editing the geppetto.plan folder, perhaps I could do something similar with these .jar dependencies.

[2017-07-06 12:07] adrianq opened #563 "add a new sample "Clinical data" Project"
- Instantiate all new widgets (widgets coming from https://github.com/openworm/org.geppetto.frontend/pull/604)
- Add casper test

[2017-07-06 12:08] adrianq opened #564 "Add view_state support to the new widgets"
Widgets coming from https://github.com/openworm/org.geppetto.frontend/pull/604

Once done update Clinical sample project (#563)

[2017-07-07 10:07] pgleeson commented on #543
Not sure if it will help @LordKrabo but what I find useful when updating Geppetto/switching between branches is to:
- do an mvn clean at the root of org.geppetto before rebuilding all
- remove all the *.jar files in repository/usr/ of virgo
- start virgo with ./startup.sh -clean

These often make errors on Geppetto startup magically disappear...

[2017-07-07 10:39] LordKrabo commented on #543
Thanks @pgleeson I eventually figured it out. Perhaps @tarelli I can include this in the build docs?

[2017-07-07 12:10] pgleeson opened #565 "Keep current plots/state when creating new experiment"
Currently if you have one experiment open and plot some variables, open widgets etc. and then clone it for a new experiment, all the plots etc. vanish. This is inconvenient as you probably wanted the new experiment to compare behaviour (plotted) to the old experiment. If you reopen the old experiment you get the plots back.

One scenario is that the state of the widgets etc. could be taken as the

[2017-07-30 00:07] #216 closed

[2017-08-02 18:17] pgleeson commented on #397
@tarelli still not seeing this in the console... should it be enabled with either

    G.showAxisHelper(true)

or

    G.setupAxis()

[2017-08-14 15:20] pgleeson opened #569 "Fix project status page"
http://www.opensourcebrain.org/status

[2017-08-14 15:21] pgleeson opened #570 "Mail on new user project"
To info@osb...  whenever a user creates a new project

[2017-08-15 17:52] adrianq opened #571 "Context Path is not being read from GeppettoConfiguration at least for the pom.xml"
For future reference: https://stackoverflow.com/questions/849389/how-to-read-an-external-properties-file-in-maven

[2017-08-17 09:41] pgleeson opened #572 "Has G.unSelectAll() been removed/moved?"
No longer working on OSB...

[2017-08-17 10:04] tarelli commented on #572
It was moved -> GEPPETTO.SceneController.deselectAll()

[2017-08-17 10:04] #572 closed

[2017-08-17 13:44] pgleeson commented on #572
Ok, thanks. Any reason why these don't appear for command completion when tab is pressed in the console?

[2017-08-18 16:39] borismarin opened #573 "No 3d view - ACNet2 example"
Loading [ACnet2 from live](https://live.geppetto.org/geppetto?load_project_from_id=5) (incognito window - no cache) results in

<img width="1440" alt="screen shot 2017-08-18 at 13 34 48" src="https://user-images.githubusercontent.com/3452783/29468359-47a6a486-841a-11e7-9834-68fe1e52bf45.png">

ie
 - no 3d canvas / entities aren't  displayed
-  the legend for the conn matrix seems broken

[2017-08-18 16:44] borismarin commented on #573
A similar problem seems to occur on the [OSB deployment](http://opensourcebrain.org/projects/acnet2/models?explorer=https%3A%2F%2Fraw.githubusercontent.com%2FOpenSourceBrain%2FACnet2%2Fmaster%2FosbSessions%2Fsample%2FSample_Session.json)

<img width="1440" alt="screen shot 2017-08-18 at 13 42 53" src="https://user-images.githubusercontent.com/3452783/29468604-56be376c-841b-11e7-9f54-49882259c9db.p

[2017-08-18 20:45] adrianq opened #574 "Replace LoadingSpinner with Overlay Component"

[2017-08-22 12:06] adrianq commented on #571
It seems to be an error with the cross origin that may have to do with the mvn install for production as well:
-  Review-> https://github.com/openworm/org.geppetto.frontend/blob/master/src/main/webapp/WEB-INF/web.ejs#L91
- Example: http://www.opensourcebrain.org/projects/hodgkin-huxley-tutorial?explorer=https%3A%2F%2Fraw.githubusercontent.com%2Fopenworm%2Fhodgkin_huxley_tutorial%2Fmaster%2FTutoria

[2017-08-23 13:04] pgleeson opened #575 "Add path to nml files in model listing"
e.g. on http://www.opensourcebrain.org/projects/thalamocortical/models

The relative path of the NML files in the repo should be added e.g.
NeuroML2/pythonScripts/netbuild/TestL23.net.nml

as there can be more than one file with the same base name.

[2017-08-23 13:04] pgleeson commented on #575
My bad... wrong repo.

[2017-08-23 13:04] #575 closed

[2017-08-29 22:38] adrianq opened #576 "Extract loading spinner for widget into a component"
For now, in dicom viewer and canvas

[2017-09-21 23:48] tarelli commented on #432
We'll migrate all QUnit to Casper

[2017-09-21 23:49] #432 closed

[2017-09-26 09:48] tarelli commented on #569
Wrong repo

[2017-09-26 09:48] #569 closed

[2017-09-26 09:48] tarelli commented on #570
Wrong repo

[2017-09-26 09:48] #570 closed

[2017-09-26 12:37] mattearnshaw commented on #570
was added @ https://github.com/OpenSourceBrain/redmine/commit/9b52607b4dc298acf9481763b5774c3a28427217

[2017-10-05 16:26] mattearnshaw commented on #573
note to self: `Canvas.display` getting no instances …

[2017-10-15 20:47] vamsi1994 opened #577 "Having trouble deploying Geppetto"
When I try to open Geppetto, it's just showing a blank page. I'm on windows 10.
I followed these instructions: [http://docs.geppetto.org/en/latest/windowssetup.html](http://docs.geppetto.org/en/latest/windowssetup.html)
I did everything except changing the value of _sourcesdir_ field and setting the M2 environment variable.
Using Java 1.8.0_144 - 64bit
Trace from Virgo after running startup.bat: [

[2017-10-17 15:52] tarelli commented on #577
@vamsi1994 Hi, the log from Virgo doesn't have any error, what URL are you pointing your browser to? Can you put a screenshot? Thanks!

[2017-10-18 07:36] vamsi1994 commented on #577
@tarelli URL: [http://localhost:8080/org.geppetto.frontend](http://localhost:8080/org.geppetto.frontend)
![screenshot 3](https://user-images.githubusercontent.com/6739759/31705966-ebbb271c-b404-11e7-8f04-cd72923e1b5d.png)

[2017-10-18 08:57] tarelli commented on #577
That's weird, can you check the browser debug console see if you have any Javascript errors?

[2017-10-18 10:09] vamsi1994 commented on #577
@tarelli Console log raw: [https://pastebin.com/raw/EmhW1C1T](https://pastebin.com/raw/EmhW1C1T)

![console log](https://user-images.githubusercontent.com/6739759/31712972-53536942-b41a-11e7-9967-d35a5d5ba58c.PNG)

[2017-10-18 11:19] tarelli commented on #577
Alright we have an error at least! Can you please paste the full output of mvn install on org.geppetto.frontend? Thanks!

[2017-10-18 16:17] vamsi1994 commented on #577
Follow this link: [https://github.com/openworm/org.geppetto.frontend/issues/693](https://github.com/openworm/org.geppetto.frontend/issues/693)

[2017-10-18 16:17] #577 closed

[2017-10-19 19:24] #310 closed

[2017-10-19 19:24] #278 closed

[2017-10-19 19:24] #294 closed

[2017-10-19 19:24] #171 closed

[2017-10-19 19:24] #119 closed

[2017-10-19 19:24] #16 closed

[2017-10-19 19:24] #530 closed

[2017-10-19 19:24] #535 closed

[2017-10-19 19:24] #503 closed

[2017-10-19 19:24] #539 closed

[2017-10-19 19:24] #194 closed

[2017-10-19 19:24] #483 closed

[2017-10-19 19:24] #541 closed

[2017-10-19 19:24] #547 closed

[2017-10-19 19:24] #487 closed

[2017-10-19 19:24] #495 closed

[2017-10-19 19:24] #548 closed

[2017-10-19 19:24] #553 closed

[2017-10-19 19:24] #554 closed

[2017-10-19 19:24] #499 closed

[2017-10-19 19:24] #560 closed

[2017-10-19 19:24] #532 closed

[2017-10-19 19:24] #562 closed

[2017-10-19 19:24] #563 closed

[2017-10-19 19:24] #564 closed

[2017-10-19 20:24] #192 closed

[2017-10-19 20:24] #284 closed

[2017-10-19 20:24] #378 closed

[2017-10-19 20:24] #390 closed

[2017-10-19 20:24] #365 closed

[2017-10-19 20:24] #277 closed

[2017-10-19 20:24] #421 closed

[2017-10-19 20:24] #423 closed

[2017-10-19 20:24] #416 closed

[2017-10-19 20:24] #442 closed

[2017-10-19 20:24] #451 closed

[2017-10-19 20:24] #238 closed

[2017-10-19 20:24] #59 closed

[2017-10-19 20:24] #469 closed

[2017-10-19 20:24] #111 closed

[2017-10-19 20:24] #424 closed

[2017-10-19 20:24] #95 closed

[2017-10-19 20:24] #494 closed

[2017-10-19 20:24] #173 closed

[2017-10-19 20:24] #101 closed

[2017-10-19 20:24] #441 closed

[2017-10-19 20:24] #440 closed

[2017-10-19 20:24] #512 closed

[2017-10-19 20:24] #501 closed

[2017-10-19 20:24] #518 closed

[2017-10-19 20:24] #505 closed

[2017-10-19 20:24] #482 closed

[2017-10-19 20:24] #489 closed

[2017-10-19 20:24] #452 closed

[2017-10-19 21:24] #105 closed

[2017-10-19 21:24] #179 closed

[2017-10-19 21:24] #232 closed

[2017-10-19 21:24] #172 closed

[2017-10-19 21:24] #236 closed

[2017-10-19 21:24] #247 closed

[2017-10-19 21:24] #311 closed

[2017-10-19 21:24] #315 closed

[2017-10-20 08:50] tarelli opened #578 "Release 0.3.8"

[2017-11-04 23:06] #576 closed

[2017-11-22 13:44] pgleeson commented on #523
Needs to be brought back to life...

[2017-11-26 17:21] #578 closed

[2017-12-04 17:02] tarelli commented on #573
@mattearnshaw we fixed this right? @borismarin does it still happen?

[2017-12-04 17:11] mattearnshaw commented on #573
I thought it was still broken (although we fixed something related) but not able to replicate now

[2017-12-05 15:54] borismarin commented on #573
Seems to be working now:
<img width="1440" alt="screen shot 2017-12-05 at 13 53 40" src="https://user-images.githubusercontent.com/3452783/33616356-d3ca529c-d9c3-11e7-9ccf-eeb015671c35.png">

[2017-12-05 15:54] #573 closed

[2017-12-05 15:55] borismarin commented on #573
@mattearnshaw @tarelli  closed, but would be good to know what was broken.

[2017-12-05 18:48] tarelli commented on #573
From what I remember it was timing when restoring a view and the canvas wasn't there yet, something along those lines.

[2017-12-07 14:20] pgleeson commented on #523
Infor on this should be added to this page in OSB docs: https://github.com/OpenSourceBrain/OSB_Documentation/blob/master/contents/Help/12_Running_Simulations_on_OSB.md

[2017-12-08 16:08] mattearnshaw commented on #523
gui linking/upload working on comodl with documentation in progress...

relevant PRs to be merged before closing
https://github.com/OpenSourceBrain/geppetto-osb/pull/84
https://github.com/openworm/org.geppetto.core/pull/141
https://github.com/openworm/org.geppetto.simulation/pull/134
https://github.com/openworm/org.geppetto.frontend/pull/722

[2017-12-18 09:54] pgleeson commented on #397
Should still be added at some point...

[2017-12-18 10:19] mattearnshaw commented on #397
`Canvas1.engine.setupAxis()` works, @tarelli can better comment whether another interface is appropriate…

[2017-12-18 11:54] tarelli commented on #397
I'd just add a wrapper at the Canvas level as we do for most methods (engine is meant to be an internal and interfaces there can change) Canvas.showAxis(boolean) probably would do.

[2017-12-18 14:47] mattearnshaw commented on #397
https://github.com/openworm/org.geppetto.frontend/pull/726

[2017-12-23 16:47] #449 closed

[2017-12-26 10:48] #574 closed

[2017-12-27 13:36] tarelli commented on #571
Still needs fixing

[2018-01-16 17:12] tarelli commented on #543
Needs to happen still.

[2018-01-16 17:13] tarelli opened #582 "Explore Eclipse alternatives for Java IDE"

[2018-01-17 12:20] pgleeson commented on #397
These should be 100um long ideally (maybe print some info on the axis length & colours once the command is called). Currently they seem to be 200um long, see https://github.com/OpenSourceBrain/SpineShowcase/blob/master/NeuroML2/Example1.net.nml, cells are 100um long:

![image](https://user-images.githubusercontent.com/1556687/35042464-bc291860-fb80-11e7-9970-947ff66a00e0.png)

[2018-01-29 11:11] #523 closed

[2018-02-07 19:49] JustasB opened #583 "OSB Explorer link fails to load a 120 cell network"
When I run the following OSB Explorer URL to load a [120 cell NeuroML network](https://github.com/OpenSourceBrain/MiglioreEtAl14_OlfactoryBulb3D/blob/master/NeuroML2/Networks/Bulb_30MC_90GC_OdorIn.net.nml) in Gepetto:

http://www.opensourcebrain.org/projects/miglioreetal14_olfactorybulb3d?explorer=https%3A%2F%2Fraw.githubusercontent.com%2FOpenSourceBrain%2FMiglioreEtAl14_OlfactoryBulb3D%2Fmaster%2

[2018-02-08 15:51] mattearnshaw commented on #583
hi @JustasB

thanks for the report – could you try the 120 cell model again? I've made some changes to help prevent chrome running out of tab memory and it loads OK for me now.

The model will be rendered as lines rather than 3D. In principle it can be changed using the `network_Migliore2014.setGeometryType('cylinders')` command, but this crashes the chrome tab again for me.

Firefox is a bit bett

[2018-02-08 20:58] JustasB commented on #583
Thank you @mattearnshaw. I no longer get the error.

[2018-02-08 20:58] #583 closed

[2018-02-09 03:43] JustasB opened #584 "Handling models that exceed OSB explorer limitations"
This is related to: https://github.com/openworm/org.geppetto/issues/583

I have a link to a 1200 cell OSB Explorer model that takes 5+ minutes to load (I can see the spinner), but ultimately crashes. This happens in Chrome and Edge. In FF, I only see the spinner, but the project does not load within writing this post (I'll update this issue if I get a crash error).

In Chrome:
![image](https://use

[2018-02-13 16:59] tarelli opened #585 "Generate JavaDoc for org.geppetto.model"

[2018-02-13 17:10] tarelli opened #586 "Update the geppetto documentation for creating widgets"

[2018-02-13 17:10] tarelli commented on #586
Ideally we'd also explain the React way vs the Old school way

[2018-02-17 12:41] tarelli opened #588 "Release 0.3.9"

[2018-03-13 16:39] #588 closed

[2018-03-25 13:10] #397 closed

[2018-04-17 20:39] orena1 opened #591 "How to cite geppetto?"
Thanks.

[2018-04-17 20:40] orena1 opened #592 "http://www.geppetto.org/ Copyright should be updated"
It seems that now it is (bottom page):

 © 2013-2016 Geppetto contributors.
But it is 2018.

[2018-04-21 18:00] #586 closed

[2018-04-22 09:05] tarelli commented on #591
@orena1 we have a paper currently under review. In the next few weeks it will go live as a preprint.Do you need to cite earlier than that?

[2018-04-22 09:09] tarelli commented on #592
@orena1 Thanks, we need to update the website..it's been a while, good reminder :)

[2018-04-22 09:26] orena1 commented on #591
No problem, it can wait.

On Sun, Apr 22, 2018 at 12:05 PM, Matteo Cantarelli <
notifications@github.com> wrote:

[2018-04-22 09:39] #585 closed

[2018-04-24 15:21] tarelli opened #594 "Release 0.4.0"

[2018-05-22 15:19] #594 closed, assigned to tarelli

[2018-05-31 13:09] #582 closed

[2018-06-16 12:18] #584 closed

[2018-07-08 01:05] jhowla opened #596 "Broken links on http://www.geppetto.org/"
In the "Who is building Geppetto?" section, the "Jesus Martinez" link and the full list of contributors link lead to profile not available/404 pages.

[2018-08-18 00:01] tarelli commented on #543
Still happening stale bot

[2018-08-27 12:13] tarelli commented on #592
I'm updating the whole website, still an issue until the new one is deployed.

[2018-11-10 12:23] #596 closed, assigned to tarelli

[2018-12-06 16:59] orena1 commented on #591
Any update on this one?

[2018-12-06 17:03] orena1 commented on #591
Found it:
https://royalsocietypublishing.org/doi/10.1098/rstb.2017.0380

Might be good to add it to the README

[2018-12-06 17:03] gidili commented on #591
@orena1 Yes!

Here it is: https://royalsocietypublishing.org/doi/10.1098/rstb.2017.0380

Now we can close this for real 🙆‍♂️

[2018-12-06 17:03] #591 closed

[2018-12-17 10:33] tarelli commented on #543
This is now done and merged to development!

[2018-12-17 10:33] #543 closed

[2019-01-11 12:31] tarelli commented on #571
This is still a problem

[2019-01-11 12:46] tarelli commented on #571
This happens also when specifying for instance the useSsl paramter maven side. The parameter is correctly read from Webpack and it is used by the Webpack build. However the configuration file is not updated and therefore when the application will load useSsl would still have the value hardcoded in the file that is not necessarily the one that was passed via Maven. A solution for this would be to u

[2019-01-30 16:25] tarelli opened #602 "Move webapp outside of org.geppetto.frontend"

[2019-01-30 16:25] tarelli opened #603 "Split dependencies between geppetto core and geppetto applications"

[2019-01-30 16:26] tarelli opened #604 "Move geppetto-default into a new to level repository geppetto-application"

[2019-01-30 16:26] tarelli opened #605 "Update docker files post factor out and dependencies split"

[2019-01-30 16:27] tarelli opened #606 "Run linting on the geppetto-client and geppetto-application codebases"

[2019-01-30 16:28] tarelli commented on #603
@dariodippi @rodriguez-facundo @filippometacell assigned you all to this. Facu will own the coding side of things.

[2019-02-03 16:15] rodriguez-facundo opened #607 "travis-ci fails on org.geppetto.frontend if current branch is not created in other repos"
lines 62 to 65 in `utilities/docker/geppetto/Dockerfile` fails on `travis-ci` for `org.geppetto.frontend` if `$mainBranch` branch does not exist in `org.geppetto.core`, `org.geppetto.model`, etc...

@tarelli, can we checkout with `-B` arg so that the branch is created in case it does not exist?

[code]

[2019-02-05 11:34] rodriguez-facundo opened #608 "geppetto dockerfile might be split at line 55"
The Dockerfile to build Geppetto contains 2 steps. The first one where required packages to build Geppetto are installed and the second one where Geppetto repos are cloned and installed.

We could take those 2 steps and put them in different docker images, so we avoid repeating the first step. We might also consider using fewer layers to avoid container size growth.

[2019-02-05 11:48] rodriguez-facundo commented on #602
this has already been done:

- The content of webapp now lives in geppetto-client repo.
- The content of extensions/geppetto-default now lives in geppetto-application repo.

geppetto-client repo also exists as a npm package (@geppettoengine/geppetto-client), so instead of geppetto-client containing geppetto-application, we have geppetto-application listing geppetto-client between its dependencies

[2019-02-05 11:49] rodriguez-facundo commented on #604
now it lives [here](https://github.com/openworm/geppetto-application/tree/feature-split_dependencies)

[2019-02-05 12:38] tarelli commented on #603
@dariodippi when you got a chance can you update with the outcome of the meeting?

[2019-02-06 17:01] tarelli commented on #608
@rodriguez-facundo in progress?

[2019-02-06 17:10] rodriguez-facundo commented on #608
I will pull java-virgo-maven:latest from dockerhub to test it locally before updating this card.

[2019-02-08 11:52] tarelli opened #609 "Solve contextPath problem across multiple types of deployments"
1. [ ]  Analyse all places in the code where the context path is currently used and how it relates to each deployment (e.g. in this deployment we have this contextpath, this is where the static files are served, this is where geppetto is served, etc.)
1. [ ] Review current PRs which seems to work for JupyterHub and the Java deployment https://github.com/openworm/org.geppetto.frontend.jupyter/pull/

[2019-02-08 18:33] rodriguez-facundo commented on #608
This has been done [here](https://github.com/MetaCell/java-virgo-maven) and is ready for review

[2019-02-08 18:42] rodriguez-facundo commented on #607
This has been solved [here](https://github.com/MetaCell/java-virgo-maven/blob/master/copy.sh). The file is part of `metacell/java-maven-virgo` dockerhub image and it is used by `org.geppetto/utilities/docker/geppetto/Dockerfile` to collect all `geppetto` repos
The script checks whether ${mainBranch} branch exists in the remote repository. If it exists, $mainBranch will be downloaded, if it doesn't

[2019-02-08 18:45] rodriguez-facundo commented on #606
This was done for geppetto-application and geppetto-client under feature-eslint branch (tests are passing)

[2019-02-08 18:46] rodriguez-facundo commented on #605
This has been done [here](https://github.com/openworm/org.geppetto/blob/feature-split_dependencies/utilities/docker/geppetto/Dockerfile) and [here](https://github.com/MetaCell/java-virgo-maven)

[2019-02-08 18:52] rodriguez-facundo commented on #603
This has been done [here](https://github.com/openworm/geppetto-client/commits/remove-packages) in particular check [1️⃣](https://github.com/openworm/geppetto-client/commit/7c0717e5a6a29c757b377dce6cd36efdfa3c1bd7) and [2️⃣](https://github.com/openworm/geppetto-client/commit/41e8180bbb0ff00039bb089dc1c9d0fd94384355)
We are saying good-bye to:
[code]

[2019-02-14 12:54] tarelli commented on #609
Things I don't like

GeppettoMain.js, line 106. String concatenation, checking for slash and in that case replacing the port??
[code]

[2019-02-15 17:17] filippometacell commented on #609
Some thoughts after some merging of the above commits within a Jupyter application.

- this new situation with JupyterHub made clear is that, thinking in general, the contextPath is not something that is driven by the client, nor the application, but it's something that's coming from the host.
- Usually web apps don't care about this base path because that's something that can been taken care of i

[2019-02-18 18:15] tarelli commented on #609
Flavours that need to be tested:

- [ ] Development environment with files served from webpack in Java, what we start right now using `npm start`
- [ ] Development environment with files served from webpack with Jupyter, what we start right now using `npm ....:watch`
- [ ] Java production environment with a context path, e.g. org.geppetto.frontend
- [ ] Java production environment with a root cont

[2019-03-19 13:45] #571 closed

[2019-04-13 13:33] #604 closed

[2019-04-16 19:32] #608 closed

[2019-04-16 19:32] #605 closed

[2019-04-16 19:32] #607 closed

[2019-04-17 13:25] anegin13 opened #613 "Failed to build Geppetto Frontend"
Hello.
I'm trying to install Geppetto 0.4.2 on Windows 10 and I'm stuck with building Frontend.
Short log:
`[ERROR] Failed to execute goal com.github.eirslett:frontend-maven-plugin:1.3:npm (npm run build webapp) on project frontend: Failed to run task: 'npm run build-dev -- --env.contextPath=org.geppetto.frontend --env.useSsl=${useSsl} --env.embedded=${embedded} --env.embedderURL=${embedderURL}' f

[2019-06-07 15:33] ddelpiano opened #615 "Implement properly semantic versioning"
Understand the different rules on the different types of codebases to decide when we have a minor or a major release of a given project.

[2019-06-07 15:57] ddelpiano opened #616 "Java bundles to be updated following Virgo tooling best practices"
- Remove .classpath
- Remove .project
- Potentially remove .settings too (to be tested)

Put all the above in the .gitignore for all the java bundles.

[2019-06-07 16:52] filippomc commented on #615
Drafting here: https://docs.google.com/document/d/11MvhtGcE34Sc_9F8f7Uwtp-f2QkUarPSmae_gD4JdDo/edit#

[2019-06-15 20:01] #606 closed

[2019-06-15 20:01] #603 closed

[2019-06-15 20:01] #602 closed

[2019-06-23 14:01] #613 closed

[2019-06-25 12:51] ddelpiano opened #617 "Replace docker base image java:8 using what done for the image scidash_virgo"

[2019-07-01 20:56] ddelpiano commented on #617
@rodriguez-facundo this has been done here https://github.com/MetaCell/scidash/blob/development/service/docker/Dockerfile-virgo

[2019-07-11 10:29] filippomc commented on #615
@ddelpiano @tarelli @gidili I'm finished with what I think it's an acceptable draft. Waiting for your feedback.

[2019-07-26 14:36] #609 closed

[2019-08-11 06:53] Robbie1977 opened #618 "Error running query count: Multiple queries were executed but they returned incompatible headers"
Should probably handle this error better maybe just raise a message where the number of returned results would be?

![image](https://user-images.githubusercontent.com/4630768/62830804-cdce7580-bc0c-11e9-8cce-5fa418eb4093.png)

![image](https://user-images.githubusercontent.com/4630768/62830807-d4f58380-bc0c-11e9-82f9-5742a9d5707c.png)

Server log error:
[code]

[2019-08-14 02:32] #616 closed, assigned to jrmartin

[2019-09-16 11:58] #615 closed, assigned to filippomc

[2019-09-29 13:56] afonsobspinto opened #619 "Enable Gzip Compression in Apache Tomcat enhancement"

[2019-10-01 10:53] tarelli opened #621 "Remove obsolete docker files"
[code]

[2019-10-08 12:38] afonsobspinto opened #623 "Use master profile mvn"

[2019-10-14 16:16] #621 closed, assigned to afonsobspinto

[2019-10-14 16:16] #623 closed, assigned to afonsobspinto

[2019-10-16 23:03] #619 closed, assigned to afonsobspinto

[2019-10-16 23:05] afonsobspinto opened #625 "Enable Gzip Compression in Apache Tomcat HTTPS?"
[this also opens a vulnerability](https://en.wikipedia.org/wiki/BREACH)

[2019-10-23 18:13] rodriguez-facundo opened #626 "Flexible version"

[2019-11-16 09:34] #617 closed, assigned to rodriguez-facundo

[2019-12-09 12:50] ddelpiano opened #627 "www.geppetto.org news section"
this still points to release 0.3.6, either we update this or we link it to the github release page or got it updated via what pushed on twitter automatically?

[2019-12-16 13:45] #618 closed, assigned to Robbie1977, ddelpiano

[2019-12-23 22:14] #625 closed, assigned to afonsobspinto

[2019-12-29 19:01] #626 closed, assigned to rodriguez-facundo

[2020-01-22 12:47] rodriguez-facundo opened #628 "Refactor dockerimage files"
Docker images should be refactored. Currently, containers are 3+ Gb in size which takes long time to pull into kubernetes and reduces node disk space, increasing response time.

Refactor would look somewhat like 👇

[code]

And we have to remove this from https://github.com/MetaCell/java-virgo-maven/blob/development/Dockerfile

[code]

We could also look deeper into https://github.com/MetaCell/java

[2020-01-22 12:58] rodriguez-facundo opened #629 "Refactor dockerfile interaction with Travis env variables"
For each commit, Travis-ci runs 2 integrations tests `pr` and `push`.  One of the test build geppetto from the branch the commit was created. The second test checkouts `development`, then merges with the branch the commit was produced and finally build the docker images on the result of the merge.
To keep track of these 2 test, we Travis-ci adds env variables.
- TRAVIS_BRANCH
- TRAVIS_PULL_REQUEST

[2020-03-22 07:40] rishistyping opened #630 "Houston, we have a problem...Error opening Project"
@ http://www.opensourcebrain.org/projects/c302?explorer=https%253A%252F%252Fraw.githubusercontent.com%252Fopenworm%252Fc302%252Fmaster%252Fexamples%252Fparametersweep%252FIClamp_GenericNeuronCell.net.nml

![Screenshot_2020-03-22 Overview - c302 - Open Source Brain](https://user-images.githubusercontent.com/55334249/77244716-7e3e3680-6c3e-11ea-8561-588bace187dd.png)

[2020-03-29 13:33] #628 closed, assigned to rodriguez-facundo

[2020-03-29 14:33] #629 closed, assigned to rodriguez-facundo

[2020-04-05 13:22] #630 closed, assigned to nobody

[2020-04-07 15:40] pgleeson commented on #630
Sorry for the delay getting back to you about this @EXYNOS-999. As you may have seen, recent updates to c302 mean that this model now loads successfully. However, the code in https://github.com/openworm/c302/tree/master/examples/parametersweep is experimental and subject to change.

The core examples generated from c302 (as summarised in the matrix here: https://github.com/openworm/c302/blob/maste

[2020-04-16 00:16] rishistyping commented on #630
Thanks @pgleeson. Apprecite it!

[2020-04-23 04:38] #627 closed, assigned to tarelli

[2020-09-25 16:52] amchagas opened #633 "Add Geppetto to Open Neuroscience"
Hello!

We are reaching out because we would love to have your project listed on [Open Neuroscience](<https://open-neuroscience.com>), and also share information about this project:

Open Neuroscience is a community run project, where we are curating and highlighting open source projects related to neurosciences!

Briefly, we have a website where short descritptions about projects are listed, with

[2021-01-08 16:11] ghost opened #634 "Live Demo is down"
Just wanted to report that the live demo is down:

https://live.geppetto.org/

504 Gateway Time-out
nginx/1.15.6

[2021-02-09 09:22] #634 closed, assigned to nobody

[2021-02-21 17:04] lamerman opened #635 "Is Geppetto maintained and still working?"
Hi I tried to run Geppetto locally to run my experiments and visualize them. I followed this guide, but with not much of success
 http://docs.geppetto.org/en/latest/osxlinuxsetup.html .

It looks like the app javascript code and the server code are somehow out of sync. I get errors here and there, fixing one in the code I get another and there seem to be no end to it. :(

So the question is, that

[2021-02-22 12:37] tarelli commented on #635
@lamerman thanks for trying Geppetto, yes the project is still active and working. Those instructions though will get you locally the equivalent of visiting https://live.geppetto.org/  (the docker files are here https://github.com/openworm/org.geppetto/tree/master/utilities/docker) which at this stage is just an old demo of something that you could build with geppetto. I would recommend just looki

[2021-02-22 12:37] #635 closed, assigned to nobody

[2021-02-23 12:52] lamerman commented on #635
Thank you @tarelli !
I looked at several applications using Geppetto before trying to make a local version, including https://live.geppetto.org/  and opensourcebrain.org .

https://live.geppetto.org/ does not provide a way to run my own experiment, while opensourcebrain.org looks a bit slow and sometimes didn't perform what I wanted, plus it obliges you to make a github project for everything.

So

[2021-04-02 21:31] jrmartin opened #636 "Fix persistence docker image"

[2022-01-09 02:59] #633 closed, assigned to nobody

[2022-03-13 20:12] clausagerskov commented on #634
still down so not sure why the issue is closed

[2022-03-13 20:44] clausagerskov opened #638 "NeuroML Model bundle 1.0.1 fails"
NeuroML Model bundle 1.0.1 build fails:

[INFO] ---------------------< org.geppetto:model.neuroml >---------------------
[INFO] Building Geppetto NeuroML Model bundle 1.0.1                      [1/13]
[INFO] -------------------------------[ bundle ]-------------------------------
[WARNING] The POM for org.glassfish.jaxb:jaxb-runtime:jar:2.2.11 is invalid, transitive dependencies (if any) will not

[2022-03-13 20:46] clausagerskov commented on #638
do you expect this build to only work with certain (old) versions of JRE and/or JDK?

[2022-03-13 20:46] clausagerskov commented on #636
bump

[2022-03-13 20:47] clausagerskov opened #639 "Binaries outdated"
The last binary release was in 2018.
Can we get some new binaries while the source build is broken?

[2022-03-13 20:53] clausagerskov opened #640 "https://waffle.io/openworm/org.geppetto is dead"
https://waffle.io/openworm/org.geppetto is dead

[2022-03-13 21:36] clausagerskov commented on #638
seems to not fail at that specific point with jdk8

[2022-03-13 21:36] #638 closed, assigned to nobody

[2022-03-13 22:19] clausagerskov opened #641 "HTTP Status 404 - Not Found after build"
After building Geppetto on Ubuntu 20.04 and starting Virgo I get the following:

![image](https://user-images.githubusercontent.com/13769591/158081622-3b5594d6-6591-4416-a20a-6f6b5e7d6549.png)

[2022-03-13 22:30] clausagerskov commented on #641
has the build process been tested on Ubuntu?

[2022-03-13 22:31] clausagerskov opened #642 "Windows 11 build, stuck at Extracting expressions from: C:\Users\claus\AppData\Local\Temp\NeuroML_8933027370818646001.tmp"
![image](https://user-images.githubusercontent.com/13769591/158081940-06074b81-2fc1-45db-98fd-d66deeaa9c9a.png)

[2022-03-14 18:25] pgleeson commented on #634
@tarelli @filippomc Is it still the intention to host a live version of geppetto at the above address?

[2022-03-17 17:16] tarelli commented on #634
@pgleeson we are building a new showcase that will replace live.geppetto